<!--
    <link rel="stylesheet" type="text/css" href="core/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
   -->
  <div class="useraccess">

    <div id="greenwrapper">
      <div class="ui grid tall">
        <div class="sixteen wide tablet six wide computer column maker form">
          <div class="ui padded basic segment">


            <div class="ui padded basic segment notop">

              <div class="left floated">
                <img src="static/img/logo-black.png" width="151" class="ui image" />
              </div> <!-- .floated -->

              <h2>Join as a Maker</h2>
              <p>Get instant quotes and get in touch with suppliers from around the world.</p>
              <div class="ui horizontal divider"></div>
              <form class="ui big form" ng-submit="register()">
                <div class="field">
                  <input placeholder="Company Name" type="text" ng-model="new_user.company" required>
                </div>
                <div class="field">
                  <input placeholder="Contact Person" type="text" ng-model="new_user.contact" required>
                </div>
                <div class="field">
                  <input placeholder="Email Address" type="email" ng-model="new_user.email" required>
                </div>
                <div class="field">
                  <input placeholder="Password" type="password" ng-model="new_user.password" required>
                </div>
                <div class="field">
                  <input placeholder="Confirm Password" type="password" ng-model="new_user.confirm_password" required>
                </div>

                <small>By signing up you agree to our <a href="" title="Terms">Terms</a> and <a href="" title="Privacy Policy">Privacy Policy</a></small>

                <div class="ui horizontal divider"></div>
                <input type="submit" class="ui fluid evergreen orange button" value="Join Now">
                <p style="color: red" ng-bind="error"></p>
                <div class="ui horizontal divider"></div>
                <small>Make it simple. Join with your LinkedIn Account</small>

                <a href="" class="ui fluid primary basic button"><img src="static/img/icon-linkedin.png" width="24"> Join with LinkedIn</a>
              </form> <!-- .large form -->

            </div> <!-- .segment -->

          </div> <!-- segment -->
        </div> <!-- .column -->
        <div class="sixteen wide tablet ten wide computer black column">
          <!-- we will have a slider here -->
      </div> <!-- .grid -->


    </div> <!-- #greenwrapper -->


  </div>
