<div class="details light">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<div class="ui container">
			<div class="ui left grid">
				<h2>Creating offer for: {{proposal.quantity}} {{proposal.product}} by {{proposal.completion | date:"mediumDate"}}</h2>
			</div>
			<div class="ui left grid">
				<a class="ui evergreen uppercase button orange" href="#!/show-proposal/{{proposal.proposal_id}}">View the Proposal Details</a>
			</div>
			<div class="ui centered relaxed grid">
				<div class="sixteen wide tablet twelve wide computer column container">

					<div class="ui centered grid">
						<h3 class="row">Enter Your Offer Below:</h3>
					</div>

					<form id="anchor_form" class="ui large offer form" ng-submit="submit()">
						<!-- START tooling -->
						<fieldset>
							<legend>&nbsp;<strong>Tooling</strong>&nbsp;</legend><br>

							<div class="ui grid second">
								<div class="eight wide column">
									<div class="field">
										<label><span data-tooltip="This is the cost of ..." data-position="right center">First Tool Cost <i class="help circle outline icon"></i></span></label>
										<div class="ui left labeled input">
											<div class="ui basic label">
												$
											</div> <!-- label -->
											<input type="number" placeholder="e.g. 50000.00" min="0" max="99999999.99999" step="0.00001" ng-model="offer.first" required>
										</div>
									</div> <!-- .field -->
								</div> <!-- .column -->

								<div class="eight wide column">
									<div class="field">
										<label><span data-tooltip="This is the cost of ..." data-position="right center">Follow-On Tool Cost <i class="help circle outline icon"></i></span></label>
										<div class="ui left labeled input">
											<div class="ui basic label">
												$
											</div> <!-- label -->
											<input type="number" placeholder="e.g. 40000.00" min="0" max="99999999.99999" step="0.00001" ng-model="offer.follow" required>
										</div>
									</div> <!-- .field -->
								</div> <!-- .column -->

								<div class="eight wide column">
									<div class="field">
										<label><span data-tooltip="This is the number of ..." data-position="right center">Cavitation <i class="help circle outline icon"></i></span></label>
										<div class="ui labeled input">
											<input type="number" placeholder="e.g. 64" min="0" max="999" step="1" ng-model="offer.cavitation" required>
										</div>
									</div> <!-- .field -->
								</div> <!-- .column -->

								<div class="eight wide column">
									<div class="field">
										<label><span data-tooltip="This is the number of days ..." data-position="right center">Tooling Lead Time <i class="help circle outline icon"></i></span></label>
										<div class="ui right labeled input">
											<input type="number" placeholder="e.g. 120" min="0" max="999" step="1" ng-model="offer.days" required>
											<div class="ui basic label">
												days
											</div> <!-- label -->
										</div>
									</div> <!-- .field -->
								</div> <!-- .column -->

								<div class="eight wide column">
									<div class="field">
										<label><span data-tooltip="This is the lifetime of the tool measured in millions of shots." data-position="right center">Tool Life <i class="help circle outline icon"></i></span></label>
										<div class="ui right labeled input">
											<input type="number" placeholder="e.g. 1.5" min="0" max="999.999999" step="0.000001" ng-model="offer.life" required>
											<div class="ui basic label">
												million shots
											</div> <!-- label -->
										</div>
									</div> <!-- .field -->
								</div> <!-- .column -->

							</fieldset>
							<!-- END tooling -->

							<div class="ui horizontal divider"></div>

							<fieldset style="border: none;" ng-disabled="show_summary">
								<!-- START the raw materials selection -->
								<fieldset >
									<legend>&nbsp;<strong>Production Materials</strong>&nbsp;</legend><br>

									<div ng-repeat="material in offer.materials track by $index">
										<div class="ui grid second">

											<div class="field sixteen wide column">
												<label>
													<span data-tooltip="This is one of the raw materials you plan to use to produce {{proposal[0].product}}." data-position="right center">Raw Material {{offer.materials.length>1?$index+1+' ':''}}<i class="help circle outline icon"></i></span>
												</label>
												<select name="{{'material'+$index}}" ng-model="material.material" required>
													<optgroup label="Injection Molding">
														<option value="ABS">ABS</option>
														<option value="PC">PC</option>
														<option value="POM">POM</option>
														<option value="PMMA">PMMA</option>
														<option value="LCP">LCP</option>
														<option value="PA - Nylon">PA - Nylon</option>
														<option value="PEI">PEI</option>
														<option value="PE">PE</option>
														<option value="LDPE">LDPE</option>
														<option value="HDPE">HDPE</option>
														<option value="PET">PET</option>
														<option value="PP">PP</option>
														<option value="PPA">PPA</option>
														<option value="PPS">PPS</option>
														<option value="PS">PS</option>
														<option value="HIPS">HIPS</option>
														<option value="PSU">PSU</option>
														<option value="PU">PU</option>
														<option value="PVC">PVC</option>
														<option value="PVDF">PVDF</option>
														<option value="SAN">SAN</option>
														<option value="TPE">TPE</option>
														<option value="TPU">TPU</option>

													</optgroup>
													<optgroup label="Alloys">
														<option value="Alloy 1100">Alloy 1100</option>
														<option value="Alloy 2011">Alloy 2011</option>
														<option value="Alloy 2024">Alloy 2024</option>
														<option value="Alloy 3003">Alloy 3003</option>
														<option value="Alloy 5052">Alloy 5052</option>
														<option value="Alloy 6061">Alloy 6061</option>
														<option value="Alloy 6063">Alloy 6063</option>
														<option value="Alloy 7075">Alloy 7075</option>
													</optgroup>
													<optgroup label="Stainless Steel">
														<option value="253MA">253MA</option>
														<option value="301">301</option>
														<option value="302HQ">302HQ</option>
														<option value="303">303</option>
														<option value="304">304</option>
														<option value="304L">304L</option>
														<option value="304H">304H</option>
														<option value="309S">309S</option>
														<option value="310">310</option>
														<option value="316">316</option>
														<option value="316L">316L</option>
														<option value="317L">317L</option>
														<option value="321">321</option>
														<option value="347">347</option>
														<option value="904L">904L</option>
														<option value="3CR12">3CR12</option>
														<option value="409">409</option>
														<option value="430">430</option>
														<option value="430F">430F</option>
														<option value="434">434</option>
														<option value="2205">2205</option>
														<option value="UR52N">UR52N</option>
														<option value="410">410</option>
														<option value="420">420</option>
														<option value="431">431</option>
														<option value="630">630</option>
													</optgroup>
													<optgroup label="Packaging">
														<option value="Adhesive">Adhesive</option>
														<option value="Aluminum foil">Aluminum foil</option>
														<option value="BoPET">BoPET</option>
														<option value="Container Compression Test">Container Compression Test</option>
														<option value="Bubble Wrap">Bubble Wrap</option>
														<option value="Bubble Wrap (Brand)">Bubble Wrap (Brand)</option>
														<option value="Cellophane">Cellophane</option>
														<option value="Coated Paper">Coated Paper</option>
														<option value="Corrugated Fiberboard">Corrugated Fiberboard</option>
														<option value="Corrugated Plastic">Corrugated Plastic</option>
														<option value="Dunnage">Dunnage</option>
														<option value="Ethylene Vinyl Alcohol">Ethylene Vinyl Alcohol</option>
														<option value="Expanded Polyethylene">Expanded Polyethylene</option>
														<option value="Filament Tape">Filament Tape</option>
														<option value="Foam Peanut">Foam Peanut</option>
														<option value="Fugitive Glue">Fugitive Glue</option>
														<option value="Glass">Glass</option>
														<option value="Hessian Fabric">Hessian Fabric</option>
														<option value="Hot-Melt Adhesive">Hot-Melt Adhesive</option>
														<option value="Inflatable Air Cushion">Inflatable Air Cushion</option>
														<option value="Jute">Jute</option>
														<option value="Kraft Paper">Kraft Paper</option>
														<option value="Medium-Density Polyethylene">Medium-Density Polyethylene</option>
														<option value="Metallised Film">Metallised Film</option>
														<option value="Molded Pulp">Molded Pulp</option>
														<option value="Mycobond">Mycobond</option>
														<option value="Nalgene">Nalgene</option>
														<option value="Nonwoven Fabric">Nonwoven Fabric</option>
														<option value="Paper">Paper</option>
														<option value="Paperboard">Paperboard</option>
														<option value="Plastic Film">Plastic Film</option>
														<option value="Plastic Wrap">Plastic Wrap</option>
														<option value="Polybutylene Succinate">Polybutylene Succinate</option>
														<option value="Polyester">Polyester</option>
														<option value="Polyethylene">Polyethylene</option>
														<option value="Polymethylpentene">Polymethylpentene</option>
														<option value="Polypropylene">Polypropylene</option>
														<option value="Polypropylene Raffia">Polypropylene Raffia</option>
														<option value="Polystyrene">Polystyrene</option>
														<option value="Pressure-Sensitive Tape">Pressure-Sensitive Tape</option>
														<option value="Pullulan">Pullulan</option>
														<option value="Saran (Plastic)">Saran (Plastic)</option>
														<option value="Shrink Wrap">Shrink Wrap</option>
														<option value="Six Pack Rings">Six Pack Rings</option>
														<option value="Smart Label">Smart Label</option>
														<option value="Smithers-Oasis">Smithers-Oasis</option>
														<option value="Soilon">Soilon</option>
														<option value="Stone Paper">Stone Paper</option>
														<option value="Strapping">Strapping</option>
														<option value="Straw">Straw</option>
														<option value="Styrene-Acrylonitrile Resin">Styrene-Acrylonitrile Resin</option>
														<option value="Susceptor">Susceptor</option>
														<option value="Tear Tape">Tear Tape</option>
														<option value="Tissue Paper">Tissue Paper</option>
														<option value="Unica">Unica</option>
														<option value="Velostat">Velostat</option>
														<option value="Waxtite">Waxtite</option>
														<option value="WikiCell">WikiCell</option>
														<option value="Wrapping Tissue">Wrapping Tissue</option>
													</optgroup>
												</select>
											</div>
											<div class="right aligned centered column">
												<a style="color: red" href="" ng-click="offer.materials.splice($index,1)"><small>Remove</small></a>
											</div>

											<div class="eight wide column">
												<div class="field">
													<label><span data-tooltip="This is the weight (in kilograms)
														of how much {{material.material?material.material:'material'}} you'll use to produce each unit." data-position="right center">Weight <i class="help circle outline icon"></i></span></label>
														<div class="ui right labeled input">
															<input type="number" placeholder="e.g. 0.0117375" min="0" max="99999.9999999" step="0.0000001" ng-model="material.weight" required>
															<div class="ui basic label">
																kg/unit
															</div> <!-- label -->
														</div>
													</div> <!-- .field -->
												</div> <!-- .column -->

												<div class="eight wide column">
													<div class="field">
														<label><span data-tooltip="This is the cost of {{material.weight?material.weight:'(e.g.) 2.5'}} kg of {{material.material?material.material:'Aluminum (AL 6061/5052)'}}." data-position="right center">Cost <i class="help circle outline icon"></i></span></label>
														<div class="ui right labeled input">
															<input type="number" placeholder="e.g. 0.030" min="0" max="99999999.99999" step="0.00001" ng-model="material.cost" required>
															<div class="ui basic label">
																$/weight
															</div> <!-- label -->
														</div>
													</div> <!-- .field -->
												</div>
											</div> <!-- .second -->
											<div class="ui horizontal divider"></div>
										</div>

										<button type="button" class="ui fluid green button" ng-click="offer.materials.push({})">Click to add {{offer.materials.length>0?'another':'a'}} material</button>
									</fieldset>
									<!-- END the raw materials selection -->

									<div class="ui horizontal divider"></div>

									<!-- START the raw machine labor -->
									<fieldset >
										<legend>&nbsp;<strong>Production Machines</strong>&nbsp;</legend><br>

										<div ng-repeat="machine in offer.machines track by $index">

											<div class="ui grid second">

												<div class="field sixteen wide column">
													<label><span data-tooltip="This is one type of machine you'll use in production." data-position="right center">Machine {{offer.machines.length>1?$index+1+' ':''}}<i class="help circle outline icon"></i></span></label>
													<select ng-model="machine.labor" required>
														<optgroup label="Metal">
															<option value="Annealing, In-Line Oven">Annealing, In-Line Oven</option>
															<option value="Annealing, Single Oven">Annealing, Single Oven</option>
															<option value="Band Saw">Band Saw</option>
															<option value="Blasting, Impeller">Blasting, Impeller</option>
															<option value="Blasting, Uni-Directional Heavy">Blasting, Uni-Directional Heavy</option>
															<option value="Blasting, Uni-Directional Small">Blasting, Uni-Directional Small</option>
															<option value="Chemical Etching">Chemical Etching</option>
															<option value="Cleaning (Ultrasonic)">Cleaning (Ultrasonic)</option>
															<option value="Cleaning Machine, In-Line">Cleaning Machine, In-Line</option>
															<option value="CNC Horizontal Machining">CNC Horizontal Machining</option>
															<option value="CNC Lathe">CNC Lathe</option>
															<option value="CNC Machining">CNC Machining</option>
															<option value="Deburring">Deburring</option>
															<option value="Die Casting 200T">Die Casting 200T</option>
															<option value="Die Casting 250T">Die Casting 250T</option>
															<option value="Die Casting 350T">Die Casting 350T</option>
															<option value="Drilling">Drilling</option>
															<option value="Extruding">Extruding</option>
															<option value="Grinding">Grinding</option>
															<option value="Grinding, DDG (Double Disk Grinding)">Grinding, DDG (Double Disk Grinding)</option>
															<option value="Grinding, Gap">Grinding, Gap</option>
															<option value="Grinding, Profile">Grinding, Profile</option>
															<option value="Grinding, Tooling">Grinding, Tooling</option>
															<option value="Injection Molding (MIM)">Injection Molding (MIM)</option>
															<option value="Lapping">Lapping</option>
															<option value="Laser Cutting">Laser Cutting</option>
															<option value="Laser Etching">Laser Etching</option>
															<option value="Laser Spot Welding">Laser Spot Welding</option>
															<option value="Laser Welding">Laser Welding</option>
															<option value="Manual Lathe">Manual Lathe</option>
															<option value="Manual Mill">Manual Mill</option>
															<option value="Masking Line">Masking Line</option>
															<option value="Microperf">Microperf</option>
															<option value="NDA Finish">NDA Finish</option>
															<option value="Polishing">Polishing</option>
															<option value="Polishing, Machine">Polishing, Machine</option>
															<option value="Restricting Machine, Small">Restricting Machine, Small</option>
															<option value="Roll Forming">Roll Forming</option>
															<option value="Sawing, Horizontal Cut Saw">Sawing, Horizontal Cut Saw</option>
															<option value="Single Tank Cleaning">Single Tank Cleaning</option>
															<option value="Sinker EDM">Sinker EDM</option>
															<option value="Stamping Progressive 250T">Stamping Progressive 250T</option>
															<option value="Stamping Stage Die 1000T">Stamping Stage Die 1000T</option>
															<option value="Stamping Stage Die 110T">Stamping Stage Die 110T</option>
															<option value="Stamping Stage Die 1500T">Stamping Stage Die 1500T</option>
															<option value="Stamping Stage Die 150T">Stamping Stage Die 150T</option>
															<option value="Stamping Stage Die 160T">Stamping Stage Die 160T</option>
															<option value="Stamping Stage Die 2000T">Stamping Stage Die 2000T</option>
															<option value="Stamping Stage Die 200T">Stamping Stage Die 200T</option>
															<option value="Stamping Stage Die 250T">Stamping Stage Die 250T</option>
															<option value="Stamping Stage Die 300T">Stamping Stage Die 300T</option>
															<option value="Stamping Stage Die 400T">Stamping Stage Die 400T</option>
															<option value="Stamping Stage Die 500T">Stamping Stage Die 500T</option>
															<option value="Stamping Stage Die 600T">Stamping Stage Die 600T</option>
															<option value="Stamping Stage Die 80T">Stamping Stage Die 80T</option>
															<option value="Stamping Stage Die Unknown">Stamping Stage Die Unknown</option>
															<option value="Swaging">Swaging</option>
															<option value="Tig Welding">Tig Welding</option>
															<option value="Tumbling">Tumbling</option>
															<option value="Unsharpening">Unsharpening</option>
															<option value="Welding">Welding</option>
															<option value="Wire EDM">Wire EDM</option>
															<option value="EDM">EDM</option>
															<option value="Debunking">Debunking</option>
															<option value="Sintering">Sintering</option>
														</optgroup>

														<optgroup label="Plastic">
															<option value="CNC Degating">CNC Degating</option>
															<option value="CNC Machining">CNC Machining</option>
															<option value="Deflashing (Non CNC)">Deflashing (Non CNC)</option>
															<option value="Degating (Manual)">Degating (Manual)</option>
															<option value="Double Shot Molding 200T">Double Shot Molding 200T</option>
															<option value="Gluing Machine">Gluing Machine</option>
															<option value="Heat Staking">Heat Staking</option>
															<option value="Painting (Line?)">Painting (Line?)</option>
															<option value="Painting (Robot)">Painting (Robot)</option>
															<option value="Printing">Printing</option>
															<option value="Single Shot Molding 30T">Single Shot Molding 30T</option>
															<option value="Single Shot Molding 50T">Single Shot Molding 50T</option>
															<option value="Single Shot Molding 55T">Single Shot Molding 55T</option>
															<option value="Single Shot Molding 65T">Single Shot Molding 65T</option>
															<option value="Single Shot Molding 80T">Single Shot Molding 80T</option>
															<option value="Single Shot Molding 90T">Single Shot Molding 90T</option>
															<option value="Single Shot Molding 100T">Single Shot Molding 100T</option>
															<option value="Single Shot Molding 120T">Single Shot Molding 120T</option>
															<option value="Single Shot Molding 130T">Single Shot Molding 130T</option>
															<option value="Single Shot Molding 140T">Single Shot Molding 140T</option>
															<option value="Single Shot Molding 150T">Single Shot Molding 150T</option>
															<option value="Single Shot Molding 160T">Single Shot Molding 160T</option>
															<option value="Single Shot Molding 170T">Single Shot Molding 170T</option>
															<option value="Single Shot Molding 180T">Single Shot Molding 180T</option>
															<option value="Single Shot Molding 200T">Single Shot Molding 200T</option>
															<option value="Single Shot Molding 220T">Single Shot Molding 220T</option>
															<option value="Single Shot Molding 230T">Single Shot Molding 230T</option>
															<option value="Single Shot Molding 240T">Single Shot Molding 240T</option>
															<option value="Single Shot Molding 250T">Single Shot Molding 250T</option>
															<option value="Single Shot Molding 280T">Single Shot Molding 280T</option>
															<option value="Single Shot Molding 290T">Single Shot Molding 290T</option>
															<option value="Single Shot Molding 300T">Single Shot Molding 300T</option>
															<option value="Single Shot Molding 350T">Single Shot Molding 350T</option>
															<option value="Single Shot Molding 400T">Single Shot Molding 400T</option>
															<option value="Single Shot Molding 450T">Single Shot Molding 450T</option>
															<option value="Single Shot Molding 500T">Single Shot Molding 500T</option>
															<option value="Single Shot Molding 550T">Single Shot Molding 550T</option>
															<option value="Single Shot Molding 600T">Single Shot Molding 600T</option>
															<option value="Single Shot Molding 650T">Single Shot Molding 650T</option>
															<option value="Single Shot Molding 700T">Single Shot Molding 700T</option>
															<option value="Single Shot Molding 800T">Single Shot Molding 800T</option>
															<option value="Single Shot Molding 850T">Single Shot Molding 850T</option>
															<option value="Single Shot Molding 1000T">Single Shot Molding 1000T</option>
															<option value="Single Shot Molding 1050T">Single Shot Molding 1050T</option>
															<option value="Single Shot Molding 1600T">Single Shot Molding 1600T</option>

															<option value="Double Shot Molding 30T">Double Shot Molding 30T</option>
															<option value="Double Shot Molding 50T">Double Shot Molding 50T</option>
															<option value="Double Shot Molding 55T">Double Shot Molding 55T</option>
															<option value="Double Shot Molding 65T">Double Shot Molding 65T</option>
															<option value="Double Shot Molding 80T">Double Shot Molding 80T</option>
															<option value="Double Shot Molding 90T">Double Shot Molding 90T</option>
															<option value="Double Shot Molding 100T">Double Shot Molding 100T</option>
															<option value="Double Shot Molding 120T">Double Shot Molding 120T</option>
															<option value="Double Shot Molding 130T">Double Shot Molding 130T</option>
															<option value="Double Shot Molding 140T">Double Shot Molding 140T</option>
															<option value="Double Shot Molding 150T">Double Shot Molding 150T</option>
															<option value="Double Shot Molding 160T">Double Shot Molding 160T</option>
															<option value="Double Shot Molding 170T">Double Shot Molding 170T</option>
															<option value="Double Shot Molding 180T">Double Shot Molding 180T</option>
															<option value="Double Shot Molding 200T">Double Shot Molding 200T</option>
															<option value="Double Shot Molding 220T">Double Shot Molding 220T</option>
															<option value="Double Shot Molding 230T">Double Shot Molding 230T</option>
															<option value="Double Shot Molding 240T">Double Shot Molding 240T</option>
															<option value="Double Shot Molding 250T">Double Shot Molding 250T</option>
															<option value="Double Shot Molding 280T">Double Shot Molding 280T</option>
															<option value="Double Shot Molding 290T">Double Shot Molding 290T</option>
															<option value="Double Shot Molding 300T">Double Shot Molding 300T</option>
															<option value="Double Shot Molding 350T">Double Shot Molding 350T</option>
															<option value="Double Shot Molding 400T">Double Shot Molding 400T</option>
															<option value="Double Shot Molding 450T">Double Shot Molding 450T</option>
															<option value="Double Shot Molding 500T">Double Shot Molding 500T</option>
															<option value="Double Shot Molding 550T">Double Shot Molding 550T</option>
															<option value="Double Shot Molding 600T">Double Shot Molding 600T</option>
															<option value="Double Shot Molding 650T">Double Shot Molding 650T</option>
															<option value="Double Shot Molding 700T">Double Shot Molding 700T</option>
															<option value="Double Shot Molding 800T">Double Shot Molding 800T</option>
															<option value="Double Shot Molding 850T">Double Shot Molding 850T</option>
															<option value="Double Shot Molding 1000T">Double Shot Molding 1000T</option>
															<option value="Double Shot Molding 1050T">Double Shot Molding 1050T</option>
															<option value="Double Shot Molding 1600T">Double Shot Molding 1600T</option>
															<option value="Unknown Tonnage">Unknown Tonnage</option>
															<option value="2D Documentation">2D Documentation</option>
															<option value="3D Design">3D Design</option>
														</optgroup>

														<optgroup label="Processing">
															<option value="Renders">Renders</option>
															<option value="2D Documentation">2D Documentation</option>
															<option value="3D Design">3D Design</option>
															<option value="CAD/CAM Programming">CAD/CAM Programming</option>
															<option value="Heat Treatment">Heat Treatment</option>
														</optgroup>
													</select>

												</div>

												<div class="right aligned centered column">
													<a style="color: red" href="" ng-click="offer.machines.splice($index,1)"><small>Remove</small></a>
												</div>

												<div class="eight wide column">
													<div class="field">
														<label><span data-tooltip="This is the time it takes the machine to process the raw material for one product." data-position="right center">Cycle Time <i class="help circle outline icon"></i></span></label>
														<div class="ui right labeled input">
															<input type="number" placeholder="e.g. 5.625" min="0" max="99999999.99999" step="0.00001" ng-model="machine.time" required>
															<div class="ui basic label">
																seconds
															</div> <!-- label -->
														</div>
													</div> <!-- .field -->
												</div> <!-- .column -->

												<div class="eight wide column">
													<div class="field">
														<label><span data-tooltip="This is the cost of running the machine at an hourly rate." data-position="right center">Operation Cost <i class="help circle outline icon"></i></span></label>
														<div class="ui right labeled input">
															<input type="number" placeholder="e.g. 0.04" min="0" max="99999999.99999" step="0.00001" ng-model="machine.rate" required>
															<div class="ui basic label">
																$/hr
															</div> <!-- label -->
														</div>
													</div> <!-- .field -->
												</div> <!-- .column -->

												<div class="eight wide column">
													<div class="field">
														<label><span data-tooltip="This is the yield as a percentage of output products / input raw materials." data-position="right center">Yield <i class="help circle outline icon"></i></span></label>
														<div class="ui right labeled input">
															<input type="number" placeholder="e.g. 95.62" min="0" max="100.00" step="0.01" ng-model="machine.yield" required>
															<div class="ui basic label">
																%
															</div> <!-- label -->
														</div>
													</div> <!-- .field -->
												</div> <!-- .column -->

												<div class="eight wide column">
													<div class="field">
														<label>Number of Machines <span data-tooltip="This is the quantity of this machine type that you'll have available for production." data-position="top right"><i class="help circle outline icon"></i></span></label>
														<div class="ui input">
															<input type="number" placeholder="e.g. 1" min="1" max="9999" step="1" ng-model="machine.count" required>
														</div>
													</div> <!-- .field -->
												</div> <!-- .column -->

											</div> <!-- .second -->
											<div class="ui horizontal divider"></div>
										</div>

										<button type="button" class="ui fluid green button" ng-click="offer.machines.push({})">Click to add {{offer.machines.length>0?'another':'a'}} machine</button>
									</fieldset>
									<!-- END the raw machine labor -->

									<div class="ui horizontal divider"></div>

									<!-- START the raw machine labor -->
									<fieldset >

										<legend>&nbsp;<strong>Manual Labor</strong>&nbsp;</legend><br>

										<div ng-repeat="manual in offer.manuals track by $index">

											<div class="ui grid second">

												<div class="field sixteen wide column">
													<label><span data-tooltip="This is one type of manual labor you'll need in production." data-position="right center">Labor {{offer.manuals.length>1?$index+1+' ':''}}<i class="help circle outline icon"></i></span></label>
													<select ng-model="manual.labor" required>
														<optgroup label="Assembly">
															<option value="Fitting & Assembly">Fitting &amp; Assembly</option>
															<option value="Manual Assembly">Manual Assembly</option>
															<option value="Glueing">Glueing</option>
															<option value="Heat Staking">Heat Staking</option>
															<option value="Inspection">Inspection</option>
															<option value="Oven">Oven</option>
															<option value="Packing">Packing</option>
															<option value="Painting">Painting</option>
															<option value="Robot">Robot</option>
															<option value="Silkscreen">Silkscreen</option>
															<option value="UV Oven">UV Oven</option>
															<option value="VHB">VHB</option>
														</optgroup>
														<optgroup label="Engineering">
															<option value="Electrical Engineering">Electrical Engineering</option>
															<option value="Mechanical Engineering">Mechanical Engineering</option>
														</optgroup>
													</select>
												</div>

												<div class="right aligned centered column">
													<a style="color: red" href="" ng-click="offer.manuals.splice($index,1)"><small>Remove</small></a>
												</div>

												<div class="eight wide column">
													<div class="field">
														<label><span data-tooltip="This is the time it takes the laborer to complete {{manual.labor?manual.labor:'this labor'}} for one product." data-position="right center">Labor Time <i class="help circle outline icon"></i></span></label>
														<div class="ui right labeled input">
															<input type="number" placeholder="e.g. 1.6" min="0" max="99999999.99999" step="0.00001" ng-model="manual.time" required>
															<div class="ui basic label">
																seconds
															</div> <!-- label -->
														</div>
													</div> <!-- .field -->
												</div> <!-- .column -->

												<div class="eight wide column">
													<div class="field">
														<label><span data-tooltip="This is the wage of the laborer as an hour rate." data-position="right center">Labor Rate <i class="help circle outline icon"></i></span></label>
														<div class="ui right labeled input">
															<input type="number" placeholder="e.g. 0.01" min="0" max="99999999.99999" step="0.00001" ng-model="manual.rate" required>
															<div class="ui basic label">
																$/hr
															</div> <!-- label -->
														</div>
													</div> <!-- .field -->
												</div> <!-- .column -->

												<div class="eight wide column">
													<div class="field">
														<label><span data-tooltip="This is the yield as a percentage of output products / input materials." data-position="right center">Yield <i class="help circle outline icon"></i></span></label>
														<div class="ui right labeled input">
															<input type="number" placeholder="e.g. 100.00" min="0" max="100.00" step="0.01" ng-model="manual.yield" required>
															<div class="ui basic label">
																%
															</div> <!-- label -->
														</div>
													</div> <!-- .field -->
												</div> <!-- .column -->

												<div class="eight wide column">
													<div class="field">
														<label>Number of Laborers <span data-tooltip="This is the number of workers you'll have available for {{manual.labor?manual.labor:'this labor'}}." data-position="top right"><i class="help circle outline icon"></i></span></label>
														<div class="ui input">
															<input type="number" placeholder="e.g. 1" min="1" max="9999" step="1" ng-model="manual.count" required>
														</div>
													</div> <!-- .field -->
												</div> <!-- .column -->

											</div> <!-- .second -->
											<div class="ui horizontal divider"></div>
										</div>
										<button type="button" class="ui fluid green button" ng-click="offer.manuals.push({})">Click to add {{offer.manuals.length>0?'another':'a'}} labor</button>
									</fieldset>
									<!-- END the raw machine labor -->

									<div class="ui horizontal divider"></div>

									<!-- START production costs -->
									<fieldset >
										<legend>&nbsp;<strong>Production Costs Per Part</strong>&nbsp;</legend><br>
										<div class="ui grid second">

											<div class="eight wide column">
												<div class="field">
													<label><span data-tooltip="This is the cost of your SG&A team for producing one unit." data-position="right center">SG&amp;A <small>(Sales, General, and Admin)</small> <i class="help circle outline icon"></i></span></label>
													<div class="ui left labeled input">
														<div class="ui basic label">
															$
														</div> <!-- label -->
														<input placeholder="e.g. 0.05" type="number" min="0" max="99999999.99999" step="0.00001" ng-model="offer.sga" required>
													</div>
												</div>
											</div>
											<div class="eight wide column">
												<div class="field">
													<label><span data-tooltip="This is the overhead cost for producing each unit" data-position="right center">Overhead <i class="help circle outline icon"></i></span></label>
													<div class="ui left labeled input">
														<div class="ui basic label">
															$
														</div> <!-- label -->
														<input placeholder="e.g. 0.01" type="number" min="0" max="99999999.99999" step="0.00001" ng-model="offer.overhead" required>
													</div>
												</div> <!-- .field -->
											</div>
											<div class="eight wide column">
												<div class="field">
													<label><span data-tooltip="This is how much you plan to profit per unit." data-position="right center">Profit <i class="help circle outline icon"></i></span></label>
													<div class="ui left labeled input">
														<div class="ui basic label">
															$
														</div> <!-- label -->
														<input placeholder="e.g. 0.06" type="number" min="0" max="99999999.99999" step="0.00001" ng-model="offer.profit" required>
													</div>
												</div> <!-- .field -->
											</div>
											<div class="eight wide column">
												<div class="field">
													<label><span data-tooltip="This is the total cost of producing each unit." data-position="right center">Total Cost Per Part<i class="help circle outline icon"></i></span></label>
													<div class="ui left labeled input">
														<div class="ui basic label">
															$
														</div> <!-- label -->
														<input placeholder="e.g. 1.2518" type="number" min="0" max="99999999.99999" step="0.00001" ng-model="offer.tpp" required>
													</div>
												</div> <!-- .field -->
											</div>
										</div>
									</fieldset>
									<!-- END production costs -->

									<div class="ui horizontal divider"></div>

									<!-- START total costs -->
									<fieldset >
										<legend>&nbsp;<strong>Total Cost</strong>&nbsp;</legend><br>
										<div class="field">
											<label><span data-tooltip="This is the total cost to complete the proposal, including any costs we have not accounted for." data-position="right center">Total <i class="help circle outline icon"></i></span></label>
											<div class="ui left labeled input">
												<div class="ui basic label">
													$
												</div> <!-- label -->
												<input placeholder="e.g. 1000000.00" type="number" min="0" max="99999999.99999" step="0.00001" ng-model="offer.total" required>
											</div>
										</div>
										<div class="field">
											<label><span data-tooltip="This is the number of days that you will need to complete production." data-position="right center">Days Until Completion <i class="help circle outline icon"></i></span></label>
											<div class="ui right labeled input">
												<input placeholder="e.g. 120" type="number" min="0" max="999" step="1" ng-model="offer.completion" required>
												<div class="ui basic label">
													days
												</div>
											</div>
										</div> <!-- .field -->
									</fieldset>
									<!-- END total costs -->

									<div class="ui grid">
										<small class="row centered">Click below once you're done to review your offer in the right panel.</small>
										<div class="row centered">
											<input type="submit" class="ui green button" value="{{sent? 'Offer Sent' : 'View Summary'}}" ng-disabled="sent">
										</div>
									</div>
								</fieldset>
							</form>
						</div> <!-- .column -->

						<div id="anchor_summary" class="sixteen wide tablet four wide computer column wall" id="offerWrapper" >
							<div ng-show="show_summary">
								<h3 >Offer Summary</h3>

								<div class="ui segment" ng-show="offer.materials.length>0">
									<div class="ui grid" ng-repeat="material in offer.materials track by $index">
										<div class="sixteen wide column centered">
											<label>Material</label>
											<p>{{material.material}}</p>
										</div> <!-- .column -->
										<div class="two column row">
											<div class="column">
												<label>Weight</label>
												<p>{{material.weight}}kg
												</p>
											</div>
											<div class="column float right aligned">
												<label>Cost</label>
												<p>${{material.cost | number:2}}</p>
											</div>
										</div> <!-- .row -->
										<div class="ui fitted divider" ng-show="$index+1 != offer.materials.length"></div>

									</div> <!-- .grid -->
								</div> <!-- .segment -->

								<div class="ui segment" ng-show="offer.machines.length>0">
									<div class="ui four column grid" ng-repeat="machine in offer.machines">
										<div class="one column row">
											<div class="column">
												<label>Machine</label>
												<p>{{machine.labor}}</p>
											</div> <!-- .column -->
										</div> <!-- .row -->
										<div class="three column row">
											<div class="column">
												<label>Time</label>
												<p>{{machine.time}}s</p>
											</div>
											<div class="column center aligned">
												<label>Cost</label>
												<p>${{machine.rate | number:2}}/hr</p>
											</div>
											<div class="column right aligned">
												<label>Yield</label>
												<p>{{machine.yield}}%</p>
											</div>
										</div> <!-- .row -->
										<div class="ui fitted divider" ng-show="$index+1 != offer.machines.length"></div>
									</div> <!-- .grid -->
								</div> <!-- .segment -->

								<div class="ui segment" ng-show="offer.manuals.length>0">
									<div class="ui four column grid" ng-repeat="manual in offer.manuals">
										<div class="one column row">
											<div class="column">
												<label>Labor</label>
												<p>{{manual.labor}}</p>
											</div> <!-- .column -->
										</div> <!-- .row -->
										<div class="three column row">
											<div class="column">
												<label>Time</label>
												<p>{{manual.time}}s</p>
											</div>
											<div class="column center aligned">
												<label>Wage</label>
												<p>${{manual.rate | number:2}}/hr</p>
											</div>
											<div class="column right aligned">
												<label>Yield</label>
												<p>{{manual.yield}}%</p>
											</div>
										</div> <!-- .row -->
										<div class="ui fitted divider" ng-show="$index+1 != offer.manuals.length"></div>
									</div> <!-- .grid -->
								</div> <!-- .segment -->


								<div class="ui segment">

									<div class="ui right aligned grid">

										<div class="two column row summary">
											<div class="left aligned column">
												Sub-total:
											</div> <!-- .column -->
											<div class="column">
												${{offer.total}}
											</div> <!-- .column -->

											<div class="ui horizontal divider"></div>

											<div class="left aligned column">
												2% EG Service fee:
											</div> <!-- .column -->
											<div class="column">
												${{offer.total*0.02}}
											</div> <!-- .column -->

											<div class="ui horizontal divider"></div>

											<div class="left aligned column larger">
												Total Cost:
											</div> <!-- .column -->
											<div class="column larger">
												${{offer.total*1.02}}
											</div> <!-- .column -->
										</div> <!-- .row -->

									</div> <!-- .grid -->

									<div class="ui horizontal divider"></div>

									<button class="ui fluid evergreen orange button" ng-click="send()">SEND YOUR OFFER</button><br>
									<div class="ui center aligned grid">
										<a href="" ng-click="edit()">Click here to make changes</a>
										<p style="color: red; text-align: center" ng-bind="error"></p>
										<p style="color: red; text-align: center" ng-show="error">Make sure to remove any inputs that you are not using.</p>
									</div>

									<div class="ui horizontal divider"></div>

								</div> <!-- .grid -->
							</div> <!-- .segment -->

							<div ng-show="!show_summary">
								<p>Complete the form on the left and all the items will appear here so you can review before you send.</p>
								<div class="ui horizontal divider"></div>
							</div>
							<br>
						</div>
					</div> <!-- .column -->
				</div> <!-- .grid - the big grid, the grid from the top, the grid from above, amin! -->

			</div> <!-- .container -->

			<div ng-include="'partials/footer.html'"></div>

		</div> <!-- #greenwrapper -->

		<!-- are you sure Modal -->
		<div class="ui tiny basic modal centered aligned offerSent" id="offerSent">
			<i class="close icon"></i>
			<div class="header">

				<img src="static/img/green-check.png" width="100" class="ui centered image" />
				<div class="ui horizontal divider"></div>
				Your offer has been sent!
			</div>
			<div class="ui padded basic segment">
				<p>While they review, reach out to more companies and win more proposals.</p>
			</div>
			<div class="actions">
				<a href="" class="ui fluid grey big uppercase green button close" ng-click="continue()">Continue</a>
			</div>
		</div>

		<script src="static/js/slick.min.js"></script>
		<script src="static/js/green.js"></script>

	</div>
