<div ng-class="user" class="userarea">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<section class="ui very padded basic segment offer form">

			<h2>Your Dashboard</h2>
			<p>Check your progress graphs.</p>

			<div class="ui container left">
				<div class="ui centered grid">
					<div class="sixteen wide tablet five wide computer column">

						<div class="ui big form">

							<!-- these headers / labels include a tooltip, add the tooltip text in the data-tooltip tag -->

							<div class="ui horizontal divider"></div>
							<div class="field">
								<label>
									<span data-tooltip="Add a tooltip text here" data-position="right center">
										Select Proposal <i class="help circle outline icon"></i>
									</span>
								</label>
								<div class="ui selection dropdown">
									<input type="hidden" name="rawmaterial">
									<i class="dropdown icon"></i>
									<div class="default text">Select Proposal</div>
									<div class="menu">
										<div ng-click="print(proposal)" ng-repeat="proposal in proposals" class="item" data-value="1">{{proposal.product}}</div>
									</div> <!-- .menu -->
								</div> <!-- .dropdown -->
							</div> <!-- .field -->
							<div class="field">
								<label>
									<span data-tooltip="Add a tooltip text here" data-position="right center">
										Select Metric <i class="help circle outline icon"></i>
									</span>
								</label>
								<div class="ui selection dropdown">
									<input type="hidden" name="rawmaterial">
									<i class="dropdown icon"></i>
									<div class="default text">Select metric</div>
									<div class="menu">
										<div class="item" data-value="1">Metric #1</div>
										<div class="item" data-value="0">Metric #2</div>
										<div class="item" data-value="2">Metric #3</div>
									</div> <!-- .menu -->
								</div> <!-- .dropdown -->
							</div> <!-- .field -->

						</div> <!-- .big form -->
					</div>


					<div class="sixteen wide tablet eleven wide computer column">
						<div class="ui horizontal divider"></div>
						<div class="ui horizontal divider"></div>
						<div class="ui horizontal divider"></div>
						<div id="chartholder" class="ui very padded segment">
							<div id="chart_div">

							</div>
						</div>
						<!-- this is where the graph will go -->
					</div>
				</div>
			</div>

		</section> <!-- .very padded segment -->

		<div ng-include="'partials/footer.html'"></div>

	</div> <!-- #greenwrapper -->

	<!-- the Add Note modal -->
	<div class="ui tiny basic modal centered aligned" id="inviteSupplier">
		<i class="close icon"></i>
		<div class="header">
			Invite supplier



		</div>

		<p>Bring your supplier onto this platform to facilitate your communication. (?)</p>
		<div class="ui horizontal divider"></div>
		<!-- modal content -->
		<div class="ui padded basic segment">
			<div class="ui big offer form" style="margin-bottom: 0;">

				<div class="field">
					<input placeholder="Supplier Email Address" type="text">
				</div> <!-- .field -->

			</div>
			<div class="actions">
				<a ng-class="color" href="" class="ui fluid evegreen uppercase big button">Invite Supplier</a>
			</div> <!-- .grid -->

		</div> <!-- .actions -->
	</div> <!-- modal -->
	<script src="static/js/green.js"></script>
</div>
