<div ng-class="user" class="userarea">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<section class="ui very padded basic segment offer form">

			<h2>Your Dashboard</h2>
			<p>Compare offers for your proposals with metrics</p>

			<div id="floatingCirclesG" ng-hide="is_loaded">
				<div class="f_circleG" id="frotateG_01"></div>
				<div class="f_circleG" id="frotateG_02"></div>
				<div class="f_circleG" id="frotateG_03"></div>
				<div class="f_circleG" id="frotateG_04"></div>
				<div class="f_circleG" id="frotateG_05"></div>
				<div class="f_circleG" id="frotateG_06"></div>
				<div class="f_circleG" id="frotateG_07"></div>
				<div class="f_circleG" id="frotateG_08"></div>
			</div>

			<div class="ui container left" ng-show="is_loaded">
				<div class="ui centered grid">
					<div class="sixteen wide tablet five wide computer column">

						<div class="ui big form">

							<!-- these headers / labels include a tooltip, add the tooltip text in the data-tooltip tag -->

							<div class="ui horizontal divider"></div>
							<div class="field">
								<label>
									<span data-tooltip="You can only view proposals that have not accepted an offer yet." data-position="right center">
										Select Proposal <i class="help circle outline icon"></i>
									</span>
								</label>
								<div class="ui selection dropdown">
									<input type="hidden" name="rawmaterial">
									<i class="dropdown icon"></i>
									<div class="default text">Select Proposal</div>
									<div class="menu">
										<div ng-click="getOffersForProposal(proposal)" ng-repeat="proposal in proposals" class="item" data-value="1">{{proposal.product}}</div>
									</div> <!-- .menu -->
								</div> <!-- .dropdown -->
							</div> <!-- .field -->
							<div class="field">
								<label>
									<span data-tooltip="Evergreen allows you to compare offers by various metrics" data-position="right center">
										Select Metric <i class="help circle outline icon"></i>
									</span>
								</label>
								<div class="ui selection dropdown">
									<input type="hidden" name="rawmaterial" value="Total cost">
									<i class="dropdown icon"></i>
									<div class="default text">Select metric</div>
									<div class="menu">
										<div ng-click="changeChartMetricTo('total')" class="item" data-value="Total cost">Total cost</div>
										<div ng-click="changeChartMetricTo('quality')" class="item" data-value="Quality">Quality</div>
										<div ng-click="changeChartMetricTo('completion')" class="item" data-value="Delivery">Delivery</div>
									</div> <!-- .menu -->
								</div> <!-- .dropdown -->
							</div> <!-- .field -->

						</div> <!-- .big form -->
					</div>


					<div class="sixteen wide tablet eleven wide computer column">
						<div class="ui horizontal divider"></div>
						<div class="ui horizontal divider"></div>
						<div class="ui horizontal divider"></div>
						<div id="chartholder" class="ui very padded segment">
							<h2 ng-show="offers.length<1">No Offers For this proposal</h2>
							<h2 ng-show="offers.length>0">Comparing Offers By: {{chartMetric}}</h2>
							<div ng-show="offers.length>0" id="chart_div"></div> <!--google uses this div to draw the chart-->

							<div ng-if="offers.length>0" class="green-square"></div>
							<span ng-if="offers.length>0" data-tooltip="Evergreen uses the lowest prices from each offer to generate a benchmark for evaluating all offers." data-position="right center">
								Best Offer for Selected Metric <i class="help circle outline icon"></i>
							</span>
							<div ng-if="type==1 && offers.length>0">
							<div class="orange-square"></div>
							<span data-tooltip="Your offer, if it does not have the lowest value for the metric selected">
								Your Offer <i class="help circle outline icon"></i>
							</span>
							<br>
							<div class="gray-square"></div>
							<span data-tooltip="Information about the offers from others suppliers is kept confidential by Evergreen">
								Anonymous offers from other suppliers <i class="help circle outline icon"></i>
							</span>
						</div>
					</div>
					<!-- this is where the graph will go -->
				</div>
			</div>
		</div>

	</section> <!-- .very padded segment -->

	<div ng-include="'partials/footer.html'"></div>

</div> <!-- #greenwrapper -->

<!-- the Add Note modal -->
<div class="ui tiny basic modal centered aligned" id="inviteSupplier">
	<i class="close icon"></i>
	<div class="header">
		Invite supplier



	</div>

	<p>Bring your supplier onto this platform to facilitate your communication. (?)</p>
	<div class="ui horizontal divider"></div>
	<!-- modal content -->
	<div class="ui padded basic segment">
		<div class="ui big offer form" style="margin-bottom: 0;">

			<div class="field">
				<input placeholder="Supplier Email Address" type="text">
			</div> <!-- .field -->

		</div>
		<div class="actions">
			<a ng-class="color" href="" class="ui fluid evegreen uppercase big button">Invite Supplier</a>
		</div> <!-- .grid -->

	</div> <!-- .actions -->
</div> <!-- modal -->
<script src="static/js/green.js"></script>
</div>
