<footer class="ui inverted vertical footer very padded segment">
  <div class="ui container">
    <div class="ui stackable inverted equal height stackable grid">
      <div class="four wide column">
        <h4 class="ui inverted header">Evergreen</h4>

        <address>
          <span>@: hi@wapik.com</span>
          <span>p: +62 202 555 0117</span>
          <span>a: 610 Overlook Circle Suite 323<br />
            Kalamazoo, MI 49009</span>
          </address>

          <div class="social-row">
            <a href="#" title="Facebook">
              <img src="static/img/icon-facebook.png" class="ui image" width="30" />
            </a>
            <a href="#" title="Twitter">
              <img src="static/img/icon-twitter.png" class="ui image" width="30" />
            </a>
            <a href="#" title="LinkedIn">
              <img src="static/img/icon-linkedin.png" class="ui image" width="30" />
            </a>
          </div>

        </div> <!-- .column -->
        <div class="four wide column">
          <h4 class="ui inverted header">Company</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Home</a>
            <a href="#" class="item">About Us</a>
            <a href="#" class="item">Pricing</a>
            <a href="#" class="item">Contact Us</a>
          </div>
        </div> <!-- .column -->
        <div class="four wide column">
          <h4 class="ui inverted header">Others</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Help &amp; Support</a>
            <a href="#" class="item">Privacy Policy</a>
            <a href="#" class="item">Terms</a>
            <!-- <a href="#" class="item">Sitemap</a> -->
          </div>
        </div> <!-- .column -->
        <div class="four wide column">
          <h4 class="ui inverted header">Newsletter</h4>
          <p>Subscribe to our newsletter and get all the cool news</p>

          <form id="newsletter_form">
            <div class="ui fluid icon input">
              <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter Email" required>
              <i class="send outline icon"></i>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b921785d53ee088791cfd1db9_6ee50ebd0a" tabindex="-1" value=""></div>
          </form>


          <!-- <script>
            $('#newsletter_form').click(function(){
              console.log("shit");
              $.ajax({
          			type: "POST",
          			url: '//world.us14.list-manage.com/subscribe/post?u=b921785d53ee088791cfd1db9&amp;id=6ee50ebd0a',
          			dataType: "json",
          		});
            });
          </script> -->


        </div> <!-- .column -->
      </div> <!-- .grid -->
    </div> <!-- .container -->

    <div class="ui container">
      <div class="ui horizontal divider"></div>
      All rights reserved 2016.
    </div>

</footer> <!-- .segment -->
