<footer class="ui inverted vertical footer very padded segment">
  <div class="ui container">
    <div class="ui stackable inverted equal height stackable grid">
      <div class="four wide column">
        <h4 class="ui inverted header">Evergreen</h4>

        <address>
          <span>@: hello@evergreenmake.com</span>
          <span>p: +1-800-416-0426</span>
          <span>a:  1920 Zanker Road<br />
            San Jose, CA 95112</span>
          </address>

          <div class="social-row">
            <a href="#" title="Facebook">
              <img src="static/img/icon-facebook.png" class="ui image" width="30" />
            </a>
            <a href="#" title="Twitter">
              <img src="static/img/icon-twitter.png" class="ui image" width="30" />
            </a>
            <a href="#" title="LinkedIn">
              <img src="static/img/icon-linkedin.png" class="ui image" width="30" />
            </a>
          </div>

        </div> <!-- .column -->
        <div class="four wide column">
          <h4 class="ui inverted header">Company</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Home</a>
            <a href="#" class="item">About Us</a>
            <a href="#" class="item">Pricing</a>
            <a href="#" class="item">Contact Us</a>
          </div>
        </div> <!-- .column -->
        <div class="four wide column">
          <h4 class="ui inverted header">Others</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Help &amp; Support</a>
            <a href="#" class="item">Privacy Policy</a>
            <a href="#" class="item">Terms</a>
            <!-- <a href="#" class="item">Sitemap</a> -->
          </div>
        </div> <!-- .column -->
        <div class="four wide column">
          <h4 class="ui inverted header">Newsletter</h4>
          <p>Subscribe to our newsletter and get all the cool news</p>

          <!-- <form id="newsletter_form">
            <div class="ui fluid icon input">
              <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter Email" required>
              <i class="send outline icon"></i>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b921785d53ee088791cfd1db9_6ee50ebd0a" tabindex="-1" value=""></div>
          </form> -->


          <div id="mc_embed_signup">
          <form action="//facebook.us14.list-manage.com/subscribe/post?u=53fafa8734470af140a3b7e9c&amp;id=00934c1ecd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <div id="mc_embed_signup_scroll">

          <div class="ui fluid icon input mc-field-group">
            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter Email" required>
            <i class="send outline icon"></i>
          </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b921785d53ee088791cfd1db9_6ee50ebd0a" tabindex="-1" value=""></div>
              <!-- <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div> -->
              </div>
          </form>
          </div>

          <script>
            $('#mce-EMAIL').keypress(function(event){
              if(event.keyCode == 13){
                $('#mc-embedded-subscribe-form').trigger('submit');
              }
            });
          </script>


        </div> <!-- .column -->
      </div> <!-- .grid -->
    </div> <!-- .container -->

    <div class="ui container">
      <div class="ui horizontal divider"></div>
      All rights reserved 2017.
    </div>

</footer> <!-- .segment -->
