<!-- Navbar -->
<script type="text/javascript">
$('#add_picture_button').click(function(){
	$('#blurme').toggleClass('blur')
	$('.upload_image').toggleClass('hidden');

});
$('#backFromImageSelectionButton').click(function(){
	$('#blurme').toggleClass('blur')
	$('.upload_image').toggleClass('hidden');
});
</script>
<div id='blurme' class="container">
	<nav>
		<a href="#/">Home</a>
		<a ng-show="username" href="#/post">Post</a>
		<a ng-hide="username" href="#/login">Login/Register</a>
		<a ng-show="username" href="#/logout" ng-click="logout()">Logout</a>
	</nav>
	<h1>Welcome<span ng-if="username">, {{username}}</span></h1>
	<div class="ten columns">
		<img class='rounded_corner_img' src="http://placehold.it/200x250">
		<img class='rounded_corner_img' src="http://placehold.it/200x250">
		<img class='rounded_corner_img' src="http://placehold.it/200x250">
		<img class='rounded_corner_img' src="http://placehold.it/200x250">
		<img class='rounded_corner_img' src="http://placehold.it/200x250">
		<img class='rounded_corner_img' src="http://placehold.it/200x250">
		<img class='rounded_corner_img' src="http://placehold.it/200x250">
		<img class='rounded_corner_img' src="http://placehold.it/200x250">
		<img class='rounded_corner_img' src="http://placehold.it/200x250">
	</div>
	<div class="one column">
		<p>
			Froxxi
		</p>
		<button type="button" name="button">Favorites</button>
		<button id='add_picture_button' type="button" name="button">Add</button>
		<button type="button" name="button">Profile</button>
	</div>
</div> <!--end of container-->
<hr>
<!-- <img ng-repeat="post in posts" src="data:image/jpeg;base64{post.image}"> -->
<div class="upload_image hidden">
	<button id="backFromImageSelectionButton"><< Back</button>
	<form>
		<label>+ Upload an Image</label>
		<input type="file" ng-model="post.image">
	</form>
</div>
