<script src="../static/js/navbarControls.js"></script>
<script>
$('body').css('background-color', 'white');
$('body').css('background-image', "none");
</script>

<div id='blurme' class="row">
	<!-- Navbar -->
	<nav>
		<a href="#/">Home</a>
		<a ng-show="username" href="#/post">Post</a>
		<a ng-hide="username" href="#/login">Login/Register</a>
		<a href="#/add">Add Page</a>
		<a ng-show="username" href="#/logout" ng-click="logout()">Logout</a>
	</nav>

	<!-- Commented out to make room for search bar -->
	<!-- <h1>Welcome<span ng-if="username">, {{username}}</span></h1> -->
	<input class='search_bar' type="text" name="search" placeholder="Search">
	<h1 class="bringshoot">Trending</h1>
	<hr>
	<div class="ten columns ">
		<div ng-repeat="post in posts" class="post">
			<a href="#/post/{{ post._id }}"><img class='rounded_corner_img' src="{{ post.image }}"></a>
			<button class='image_overlay_button' type="button" name="button"></button>
		</div>
	</div>

	<!-- Side nav -->
	<div class="one column navbar">
		<span id="froxxi" class="bringshoot">froxxi</span>
		<div ng-show="username">
			<script src="../static/js/navbarControls.js"></script>
			<a href="#/favorites"><button class='nav_button' type="button" name="button">Favorites</button></a>
			<button class='nav_button' id='add_picture_button' type="button" name="button">Add</button>
			<a href="#/profile/{{username}}"><button class='nav_button' type="button" name="button">Profile</button></a>
			<button class='nav_button' type="button" name="button">Categories</button>
		</div>
		<div ng-hide="username">
			<a href="#/login"><button type="button" name="button">Log In</button></a>
		</div>
	</div>
</div> <!--end of blurme-->
<!-- <img ng-repeat="post in posts" src="data:image/jpeg;base64{post.image}"> -->
<script src="/static/js/navbarControls.js"></script>
<div class="upload_image hidden">
	<form ng-submit="post();">
		<label>+ Upload an Image</label>
		<input type="file" fileread="post.image" value="Select Photo" accept="image/png, image/jpeg">
		<input type="submit" name="" value="Pick Photo">
	</form>
	<button id="backFromImageSelectionButton"><< Back</button>
</div>
