<!-- Navbar -->
<nav>
	<a href="#/">Home</a>
	<a ng-show="username" href="#/post">Post</a>
	<a ng-hide="username" href="#/login">Login/Register</a>
	<a ng-show="username" href="#/logout" ng-click="logout()">Logout</a>
</nav>
<div class="container">
	<h1>Welcome<span ng-if="username">, {{username}}</span></h1>
	<div class="ten columns">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
		<img src="http://placehold.it/200x250">
	</div>
	<div class="one column">
		<p>
			Froxxi
		</p>
		<button type="button" name="button">Add</button>
		<button type="button" name="button">Add</button>
		<button type="button" name="button">Add</button>
		<button type="button" name="button">Add</button>
		<button type="button" name="button">Add</button>
		<button type="button" name="button">Add</button>
	</div>
</div>
<hr>
<!-- <img ng-repeat="post in posts" src="data:image/jpeg;base64{post.image}"> -->
