<!-- NAVIGATION -->
<div class="row">
	<nav>
		<p ng-bind="name"></p>
	</nav>
</div>
<hr>

<!-- MAIN -->
<!-- STEP 1 -->
<h1 ng-show="step < 4">Create Job</h1>
<div class="row" ng-show="step == 1">
	<form ng-submit="step = 2">
		<label>Amout of Dirt (in cubic yards):</label>
		<input type="number" step="0.01" ng-model="new_job.amount" required><br>
		<button type="button" ng-click="step = 5">Fill Calculator</button>
		<label>Desired Completion Date:</label>
		<input type="date" ng-model="new_job.completion_date" required><br>
		<input type="submit" value="Next">
	</form>
</div>

<!-- STEP 2 -->
<div class="row" ng-show="step == 2">
	<form ng-submit="step = 3">
		<label>Description of Dirt:</label>
		<textarea ng-model="new_job.description" placeholder="Grainy, ashy, big chunkys, etc."></textarea>
		<label>
			<input type="checkbox" ng-model="new_job.pickup_only" ng-true-value="true" ng-false-value="false">
			Pickup Only
		</label>
		<label>
			<input type="checkbox" ng-model="new_job.loader_onsite" ng-true-value="true" ng-false-value="false">
			Loader On-Site
		</label>
		<div ng-if="!new_job.pickup_only">
			<label>Drop-Off Location</label>
			<input type="text" placeholder="Address" ng-model="new_job.address" required><br>
			<input type="text" placeholder="City" ng-model="new_job.city" required>
			<input type="number" placeholder="Zip Code" ng-model="new_job.zip" required><br>
		</div>
		<button type="button" ng-click="step = 1">Previous</button><input type="submit" value="Next">
	</form>
</div>

<!-- STEP 3: VERIFICATION -->
<div class="row" ng-show="step == 3">
	<p>Review the details before it goes live:</p><br>
	<table>
		<tr>
			<th>Completion Date:</th>
			<td>{{new_job.completion_date | date: 'fullDate'}}</td>
		</tr>
		<tr>
			<th>Amount of Dirt:</th>
			<td>{{new_job.amount}} cubic yards</td>
		</tr>
		<tr>
			<th>Distance:</th>
			<td>scope.distance miles</td>
		</tr>
		<tr>
			<th>Pickup Location:</th>
			<td>new_job.address here? I have questions about this...</td>
		</tr>
		<tr>
			<th>Estimated Cost:</th>
			<td>$cost here</td>
		</tr>		
	</table>
	<label>
	<input type="checkbox" ng-model="new_job.pickup_only" disabled>
		Pickup Only
	</label>
	<label>
	<input type="checkbox" ng-model="new_job.loader_onsite" disabled>
		Loader On-Site
	</label>
	<p>*Cost is an estimate and may change depending on truck size.</p>
	<button type="button" ng-click="step = 1">Edit</button><button ng-click="create()">Place Job</button>
	<p class="error" ng-bind="job_error"></p>
</div>

<!-- STEP 4: SUCCESS -->
<div class="row" ng-show="step == 4">
	<h1>Success!</h1>
	<p>Your jobs is now live.</p>
	<p>Truckers in the area will be notified and will reach out to assist you.</p>
	<p>Let's check out your inbox to see who has reached out.</p>
	<button ng-click="$location.url('/')">View Inbox</button>
</div>


<!-- STEP 5/FILL CALCULATOR -->
<div class="row" ng-show="step == 5">
	<h1>Fill Calculator</h1>
	<form ng-submit="setAmount()">
		<label>What shape best represents the amount you're trying to fill?</label>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="1" required>
			Shape 1 here
		</label>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="2" required>
			Shape 2 here
		</label>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="3" required>
			Shape 3 here
		</label>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="4" required>
			Shape 4 here
		</label>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="5" required>
			Shape 5 here
		</label>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="6" required>
			Shape 6 here
		</label>
		<label>Length (yards)</label>
		<input type="number" step="0.01" ng-model="length" required>
		<label>Depth (yards)</label>
		<input type="number" step="0.01" ng-model="depth" required>
		<label>Height (yards)</label>
		<input type="number" step="0.01" ng-model="height" required>
		<label>Looks like you'll need:</label>
		<b>{{(length * depth * height) | number: 2}} cubic yards</b>
		<hr>
		<button type="button" ng-click="step = 1">Return to Form</button><input type="submit" value="Use This Amount">
	</form>
</div>

<!-- STATUS BAR -->
<div class="row" ng-show="step < 4">
	<hr>
	<h1>Step {{step}}</h1>
	<p>Progress bar here . . .</p>	
</div>
