<!-- NAVIGATION -->

<!-- MAIN -->
<h1 ng-show="step<4">Create Job</h1>

<!-- STEP 1 -->
<div ng-show="step==1">
	<form ng-submit="step=2; progress={'width':'60%'}">
		<div class="row">
			<div class="col-md-7">
				<h4>Amout of Dirt (in cubic yards):</h4>
				<input class="form-control" type="number" step="0.01" ng-model="new_job.amount" required><br>
				<button class="btn btn-info" type="button" ng-click="step=5">Fill Calculator</button>
				<h4>Desired Completion Date:</h4>
				<input class="form-control" type="date" ng-model="new_job.completion_date" min="{{today | date: 'yyyy-MM-dd'}}" required><br>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<img class="img-responsive center-block" src="../static/images/shovel.PNG" alt="OOPS!">
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-9">
					<input class="btn btn-primary" type="submit" value="Next">
				</div>
			</div>
		</div>
	</form>
</div>

<div ng-show="step==2">
	<form class="form-horizontal" ng-submit="step = 3; progress={'width':'90%'}">
		<div class="form-group">
			<div class="col-md-7">
				<h4>Description of Dirt:</h4>
				<textarea class="form-control" ng-model="new_job.description" placeholder="Grainy, ashy, big chunkys, etc."></textarea>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="new_job.pickup_only" ng-true-value="true" ng-false-value="false">
						Pickup Only
					</label>
					<label>
						<input type="checkbox" ng-model="new_job.loader_onsite" ng-true-value="true" ng-false-value="false">
						Loader On-Site
					</label>
				</div>
				<div ng-if="!new_job.pickup_only">
					<h4>Drop-Off Location</h4>
					<input class="form-conrol" type="text" placeholder="Address" ng-model="new_job.address" required><br>
					<div class="form-group">
						<div class="col-md-5">
							<input class="form-conrol" type="text" placeholder="City" ng-model="new_job.city" required><br>
						</div>
						<div class="col-md-5 col-md-offset-1">
							<input class="form-conrol" type="number" placeholder="Zip Code" ng-model="new_job.zip" required>
						</div>
					</div>
					<br>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<img class="img-responsive center-block" src="../static/images/shovel.PNG" alt="OOPS!">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<button class="btn btn-warning" type="button" ng-click="step=1; progress={'width':'30%'}">Previous</button>
			</div>
			<div class="col-md-2 col-md-offset-7">
				<input class="btn btn-primary" type="submit" value="Next">
			</div>
		</div>
	</form>
</div>

<!-- STEP 3: VERIFICATION -->
<div class="row" ng-show="step==3">
	<p>Review the details before it goes live:</p><br>
	<div class="col-md-6">
		<table>
			<tr>
				<th>Completion Date:</th>
				<td>{{new_job.completion_date | date: 'fullDate'}}</td>
			</tr>
			<tr>
				<th>Amount of Dirt:</th>
				<td>{{new_job.amount}} cubic yards</td>
			</tr>
			<tr>
				<th>Distance:</th>
				<td>scope.distance miles</td>
			</tr>
			<tr>
				<th>Pickup Location:</th>
				<td>new_job.address here? I have questions about this...</td>
			</tr>
			<tr>
				<th>Estimated Cost:</th>
				<td>$cost here</td>
			</tr>
		</table>
		<label>
			<input type="checkbox" ng-model="new_job.pickup_only" disabled>
			Pickup Only
		</label>
		<label>
			<input type="checkbox" ng-model="new_job.loader_onsite" disabled>
			Loader On-Site
		</label>
		<p>*Cost is an estimate and may change depending on truck size.</p>
	</div>
	<div class="col-md-2">
		<button class="btn btn-warning" type="button" ng-click="step=1; progress={'width':'30%'}">Edit</button>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-6">
			<button class="btn btn-primary" ng-click="create()">Place Job</button>
		</div>
	</div>
	<p class="error" ng-bind="job_error"></p>
</div>

<!-- STEP 4: SUCCESS -->
<div class="row center-content" ng-show="step==4">
	<h1>Success!</h1>
	<p>Your jobs is now live.</p>
	<p>Truckers in the area will be notified and will reach out to assist you.</p>
	<p>Let's check out your inbox to see who has reached out.</p>
	<button class="btn btn-primary" ng-click="$location.url('/')">View Inbox</button>
</div>


<!-- STEP 5/FILL CALCULATOR -->
<div class="row" ng-show="step==5">
	<h1>Fill Calculator</h1>
	<form ng-submit="setAmount()">
		<label>What shape best represents the amount you're trying to fill?</label><br>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="1" required>
			Shape 1 here
		</label><br>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="2" required>
			Shape 2 here
		</label><br>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="3" required>
			Shape 3 here
		</label><br>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="4" required>
			Shape 4 here
		</label><br>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="5" required>
			Shape 5 here
		</label><br>
		<label>
			<input type="radio" name="shape" ng-model="shape" value="6" required>
			Shape 6 here
		</label><br>
		<label>Length (yards)</label><br>
		<input type="number" step="0.01" ng-model="length" required><br>
		<label>Depth (yards)</label><br>
		<input type="number" step="0.01" ng-model="depth" required><br>
		<label>Height (yards)</label><br>
		<input type="number" step="0.01" ng-model="height" required><br>
		<label>Looks like you'll need:</label><br>
		<b>{{(length * depth * height) | number: 2}} cubic yards</b>
		<hr>
		<button type="button" ng-click="step=1">Return to Form</button><input type="submit" value="Use This Amount">
	</form>
</div>

<!-- STATUS BAR -->
<div class="row" ng-show="step<4">
	<hr>
	<h1>Step {{step}}</h1>
	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="progress">
		</div>
	</div>
</div>
