<div class="login useraccess">
	<div id="greenwrapper">
		<header class="ui padded basic segment">
			<div class="ui secondary menu">
				<div class="left floated">
					<img src="static/img/logo-black.png" width="151" class="ui image" />
				</div>

				<div class="right menu">
					<a href="#!/register/supplier" title="Supplier" class="item"">Supplier</a>
					<a href="#!/register/maker" title="Maker" class="item"">Maker</a>
				</div>
			</div> <!-- .menu -->
		</header>

		<section class="userlogin">
			<div class="ui container">

				<div class="ui middle aligned center aligned grid screen mid">
					<div class="column">

						<h2>Login</h2>
						<p>Please login with your email address &amp; password below</p>

						<form class="ui large form">
							<div class="ui basic segment">
								<div class="field">
									<div class="ui left icon input">
										<i class="envelope icon"></i>
										<input type="text" name="email" placeholder="E-mail address" ng-model="user.email" required>
									</div>
								</div> <!-- .field -->
								<div class="field">
									<div class="ui left icon input">
										<i class="lock icon"></i>
										<input type="password" name="password" placeholder="Password" ng-model="user.password" required>
									</div>
									<div class="field link">
										<a href="" title="Lost Password">I forgot my password</a>
									</div>
								</div> <!-- .field -->
								<button class="ui fluid big black uppercase submit button" ng-click="login()">Login</button>
								<br>
								<a href="" ng-click="LoginLinkedIn();" class="ui fluid primary basic button"><img src="static/img/icon-linkedin.png" width="24"> Sign in with LinkedIn</a>
								<p style="color: red" ng-bind="error"></p>
							</div> <!-- .segment -->

						</form>

					</div> <!-- .column -->
				</div> <!-- .screen.mid -->

			</div> <!-- .container -->
		</section> <!-- .userlogin -->

		<footer>
			<p>New to Evergreen?<br />
				Sign up as a <a href="" title="Maker" ng-click="register(0)">Maker</a> or a <a href="" title="Supplier" ng-click="register(1)">Supplier</a></p>
			</footer>

		</div> <!-- #greenwrapper -->
	</div>
