<!-- NAVIGATION -->
<div class="row">
	<nav>
		<a href="#/login/{{user_type}}">Login as {{user_type}}</a>
	</nav>
</div>
<hr>
<div class="row">
	<div class="four columns">
		<form ng-submit="login()">
			<h1 ng-show="user_type == 'trucker'">Contractor login</h1>
			<h1 ng-show="user_type == 'contractor'">Trucker login</h1>
			<input type="text" placeholder='email' ng-model="user.email" required>
			<br>
			<input type="password" placeholder='password' ng-model="user.password" required>
			<br>
			<input class="button-primary" type="submit" value="Log In">
			<p class="error" ng-bind="login_error"></p>
		</form>
		<p class="white_text">
			Forgot Password? <a href="#/reset">Reset Password</a>
			<br>
			or <a href="#/register">Sign Up</a>
		</p>
	</div>
</div>
