<div class="ui medium rectangle test custom-adbox">
	<div class="ui grid">
		<div class="six wide column">
			<img class="ui circular image" src="static/img/user-avatar.png">
		</div>
		<div class="ten wide column">
		<h4 class="title">{{company}}</h4>
			<a class="menu-link" href="">Settings</a> &nbsp; <a class="menu-link" ng-click="logout();" href="">Logout</a>
		</div>
		<div class="thirteen wide column">
			<a href="#!/messages" class="menu-tab">Messages</a>
		</div>
		<div class="three wide column">
			<a href="#!/messages" ng-class="color" class="ui circular label">12</a>
		</div>
		<div class="thirteen wide column">
			<a href="#!/proposals" class="menu-tab">Responded Proposals</a>
		</div>
		<div class="three wide column">
			<a href="#!/proposals" ng-class="color" class="ui circular label">80</a>
		</div>
	</div>
</div>