<div ng-class="user" class="userarea">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<section class="ui very padded basic segment offer form">

			<h2>Messages</h2>
			<p ng-if="type==0">Once you accept an offer for a proposal, you will begin communication with the supplier here.</p>
			<p ng-if="type==1">Once your offer for a proposal has been accepted, you will begin communication with the company here.</p>

			<div class="ui horizontal divider"></div>
			<div class="ui horizontal divider"></div>

			<div class="ui left details">

				<div class="ui segment">
					<div class="ui right aligned grid filters-top">

						<div class="left aligned eight wide column">
							<p class="count">{{offers.length}} Conversation<span ng-if="offers.length!=1">s</span></p>
						</div> <!-- left column -->
						<div class="eight wide column">
							<!-- <p class="toplabels">Order By:
								<a href="" title="Date" class="selected-link">Date</a> &bull; <a href="" title="Read / Unread">Read / Unread</a>
							</p> -->
						</div> <!-- .right column -->
					</div>
				</div>

				<div class="messaging-container">
					<div style="height: 700px;" class="ui stackable grid">
						<div style="overflow-y: auto;" class="sixteen wide tablet four wide computer column">
							<div class="ui menu" ng-repeat="offer in offers">
								<div class="ui fluid vertical menu">
									<div class="ui items message-contacts">
										<div style="text-align: center;">
											<a href="#!/show-proposal/{{offer.proposal_id}}">{{offer.quantity}} {{offer.product}}</a>
										</div>
										<a ng-style="{'background-color': offer.proposal_id==cur_offer.proposal_id&&type?'#7AC200':offer.proposal_id==cur_offer.proposal_id&&!type?'#F6A623':''}" class="item" data-tab="message1" ng-class="{active: offer.proposal_id==cur_offer.proposal_id}" ng-click="showMessages(offer)">
											<div class="ui tiny image">
												<img src="{{offer.picture}}" class="ui centered image" />
											</div>
											<div class="middle aligned content">
												<h4>{{offer.contact}} - {{offer.company}}</h4>
												<p class="footnote">Connected on: {{offer.updated_at | date:'dd.MM.yyyy'}}</p>
											</div>
										</a>
									</div>
								</div> <!-- .message-contacts -->
							</div>

						</div> <!-- left col -->


						<div class="sixteen wide tablet twelve wide computer column white padded">
							<div class="ui padded basic segment">
								<p class="message-ad" ng-show="!cur_offer">Click on a supplier on the left to load the conversation.</p>
								<div ng-show="cur_offer">
									<div style="height: 550px; overflow-y: auto;" class="messages ui padded basic segment" id="chat">
										<!-- this is one message -->
										<div class="ui grid" ng-repeat="message in messages">
											<div class="row">
												<div class="two wide column">
													<img ng-src="{{message.picture}}" class="ui tiny centered image">
												</div>
												<div class="fourteen wide column">
													<b>{{message.contact}} ({{message.company}})</b> - <small class="muted" ng-bind="message.created_at | date:'short'"></small>
													<p style="opacity: 1;" ng-bind="message.message"></p>
												</div>
											</div>
										</div>
									</div> <!-- messages -->
									<div class="send-area ui padded basic segment">
										<form class="ui fluid action input" ng-submit="createMessage()">
											<input type="text" placeholder="Enter your message here" ng-model="new_message">
											<button type="submit" ng-class="color" class="ui evergreen button flat">Send</button>
										</form>
											<small>Have an issue, or need to cancel this contract? <a href="">Click here to contact an admin.</a></small>
											<br>
											<small>
												<span class="tooltip" data-tooltip="Try refreshing the page." data-position="right center" data-variation="basic">
													Messages not appearing?
													<i class="help circle outline icon"></i>
												</span>
											</small>
									</div> <!-- .send-area -->
								</div>
							</div>
						</div>
					</div> <!-- .grid -->

				</div> <!-- .messaging-container -->

			</div> <!-- .ui left continer -->

		</section> <!-- .very padded segment -->

		<div ng-include="'partials/footer.html'"></div>

	</div> <!-- #greenwrapper -->


	<script src="static/js/green.js"></script>
</div>
