<div ng-class="user" class="userarea">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<section class="ui very padded basic segment offer form">

			<h2>Your Offers</h2>
			<p>Proposals you've submitted offers for.</p>

			<div class="ui horizontal divider"></div>
			<div class="ui horizontal divider"></div>

			<div class="ui left details"  style="margin-bottom: 50px;">

				<div class="ui segment">
					<div class="ui right aligned grid filters-top">

						<div class="left aligned eight wide column">
							<p class="count">{{proposals.length}} {{proposal.length == 1 ? 'Result':'Results'}}</p>
						</div> <!-- left column -->
						<div class="eight wide column">
							<!-- <p class="toplabels">Order By:
								<a href="" title="Date" class="selected-link">Date</a> &bull; <a href="" title="Rating">Rating</a> &bull; <a href="" title="Relevance">Relevance</a>
							</p> -->
						</div> <!-- .right column -->
					</div>
				</div>
			</div>

			<div class="ui stackable four column grid middle item-cards">

				<div ng-repeat="proposal in proposals" class="column">
					<div class="ui padded segment center aligned">
						<h4 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{proposal.product}}</h4>
						<br>
						<div class="ui tiny image">
							<img src="static/img/husky-logo.png" class="ui centered image" />
						</div>
						<a style="width: 100%;" ng-class="color" class="ui evergreen uppercase button" href="#!/show-offer/{{proposal.id}}/{{id}}">View Your Offer</a>
						<br>
						<br>
						<a style="width: 100%;" class="ui evergreen uppercase button orange" href="#!/show-proposal/{{proposal.id}}">View the Proposal</a>
					</div> <!-- segment -->

					<div class="ui right aligned grid">

						<div class="sixteen wide column">
							<p class="toplabels">You Responded On:</p>
							<p>{{proposal.completion | date:"MMM dd y"}}</p>
						</div> <!-- .right column -->
					</div>

				</div>
				<!-- End Supplier Zone -->


			</div> <!-- .ui left continer -->

		</section> <!-- .very padded segment -->

		<div ng-include="'partials/footer.html'"></div>

	</div> <!-- #greenwrapper -->

</div>

<!-- Modal -->
<div class="ui small coupled modal sixteen centered grid" id="accept-modal">
	<div class="five wide column" style="background-color: #47535F">
		<div class="ui sixteen centered grid">
			<div class="ui image sixteen wide column">
				<img src="static/img/shield.png" class="ui centered image" />
			</div>
			<div class="sixteen wide column" style="color: white; text-align: center">
				<p>Evergreen is 100%</p>
			</div>
			<div class="sixteen wide column" style="color: white; text-align: center">
				<p>Safe &amp; Secure</p>
			</div>
		</div>
	</div>
	<div class="ten wide column">
		<div class="actions" style="float: right">
			<div class="ui cancel button"><i class="remove icon"></i></div>
		</div>
		<div class="header six wide column">
			<h2>Accept offer</h2>
		</div>
		<div class="ui ten centered grid">
			<div class="five wide column">
				<h5>Deliver Date</h5>
				<p>{{proposalView.completion | date:"dd.MM.y"}}</p>
			</div>
			<div class="five wide column">
				<h5>Sub-total</h5>
				<p>$ {{offerView.total}}</p>
			</div>
		</div>
		<div class="field sixteen wide column">&nbsp;</div>
		<form ng-submit="accept();" class="ui form">
			<div class="field sixteen wide column">
				<label>You will receive an invoice for the total amount of:</label>
			</div>
			<div class="field sixteen wide column">
				<input type="text" name="input" ng-model="offerView.total" disabled>
			</div>
			<div class="field sixteen wide column">&nbsp;</div>
			<div class="ui checkbox">
				<input type="checkbox" name="accept-terms" id="accept-terms">
				<label for="accept-terms">I have read and accept the Terms &amp; Conditions</label>
			</div>
			<div class="field sixteen wide column">&nbsp;</div>
			<div class="field sixteen wide column">
				<button ng-click="acceptOffer()" class="fluid ui orange button" type="submit">Accept and Continue</button>
			</div>
			<div class="field sixteen wide column">&nbsp;</div>
		</form>
	</div>
</div>

<div class="ui small coupled modal sixteen centered grid" id="delete-modal">
	<div class="header">Are you sure you want to delete this proposal?</div>
	<div class="content">
		<p>All of the offers for this proposal will be dropped as well. Click 'Confirm' to continue removing the proposal.</p>		
	</div>
	<div class="actions">
		<button class="ui approve button" ng-click="delete()">Confirm</button><button class="ui cancel button">Cancel</button>
	</div>
</div>