<div class="details light">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<div class="ui container">

			<div class="ui centered relaxed grid">
				<h2 class="green text" style="margin-bottom: 0px;">Viewing <span ng-if="offer.offer_user_id==id">Your</span><span ng-if="offer.offer_user_id!=id">{{offer.company}}'s</span> Offer For:</h2>
				<h3 style="margin-top: 0px;">{{offer.quantity}} <strong>{{offer.product}} </strong>to be produced by <strong>{{offer.completion | date:"mediumDate"}}</strong></h3>


				<div class="sixteen wide tablet twelve wide computer column container">
					<div class="ui centered relaxed grid">
						<a class="ui evergreen uppercase button orange" href="#!/show-proposal/{{offer.proposal_id}}">View the Proposal Details</a>
					</div>
					<h2>Offer Details:</h2>
					<div class="ui centered grid">
						<div class="row">
							<table class="ui celled table">
								<thead>
									<tr class="center aligned">
										<th>Raw Material</th>
										<th>Weight (kg/unit)</th>
										<th>Cost ($/kg)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="center aligned" ng-repeat="material in offer.materials">
										<td ng-bind="material.material"></td>
										<td ng-bind="material.weight"></td>
										<td ng-bind="material.cost | number:2"></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="row">
							<table class="ui celled table">
								<thead>
									<tr class="center aligned">
										<th>Machine</th>
										<th>Cycle Time (sec)</th>
										<th>Operation Cost ($/hr)</th>
										<th>Yield (%)</th>
										<th>Number of Machines</th>
									</tr>
								</thead>
								<tbody>
									<tr class="center aligned" ng-repeat="machine in offer.labors | filter:{type:0}">
										<td ng-bind="machine.labor"></td>
										<td ng-bind="machine.time"></td>
										<td ng-bind="machine.rate | number:2"></td>
										<td ng-bind="machine.yield | number:2"></td>
										<td ng-bind="machine.count"></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="row">
							<table class="ui celled table">
								<thead>
									<tr class="center aligned">
										<th>Labor</th>
										<th>Labor Time (sec)</th>
										<th>Labor Rate ($/hr)</th>
										<th>Yield (%)</th>
										<th>Number of Laborers</th>
									</tr>
								</thead>
								<tbody>
									<tr class="center aligned" ng-repeat="manual in offer.labors | filter:{type:1}">
										<td ng-bind="manual.labor"></td>
										<td ng-bind="manual.time"></td>
										<td ng-bind="manual.rate | number:2"></td>
										<td ng-bind="manual.yield | number:2"></td>
										<td ng-bind="manual.count"></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="row">
							<table class="ui celled table">
								<thead>
									<tr class="center aligned">
										<th>Cost</th>
										<th>$</th>
									</tr>
								</thead>
								<tbody>
									<tr class="center aligned">
										<td>SG&amp;A <small>(Sales, General, and Admin)</small></td>
										<td class="center aligned" ng-bind="offer.sga | number:2"></td>
									</tr>
									<tr class="center aligned">
										<td>Overhead</td>
										<td class="center aligned" ng-bind="offer.overhead | number:2"></td>
									</tr>
									<tr class="center aligned">
										<td>Profit</td>
										<td class="center aligned" ng-bind="offer.profit | number:2"></td>
									</tr>
									<tr class="center aligned">
										<td>Total</td>
										<td class="center aligned" ng-bind="offer.total | number:2"></td>
									</tr>
								</tbody>
								<tfoot class="full-width" ng-if="type==0">
									<!-- <tr class="center aligned">
										<th colspan="4">
											<button class="ui small green button">
												Accept Application
											</button>
											<button class="ui small orange button">
												Decline Application
											</button>
										</th>
									</tr> -->
								</tfoot>
							</table>
						</div>

						<div class="ui horizontal divider"></div>
					</div> <!-- .grid - the big grid, the grid from the top, the grid from above, amin! -->

				</div> <!-- .container -->
			</div>
		</div>

		<div ng-include="'partials/footer.html'"></div>

	</div> <!-- #greenwrapper -->

	<script src="static/js/slick.min.js"></script>
	<script src="static/js/green.js"></script>

</div>
