<div class="details light">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<div class="ui container">

			<h2>Customer in USA looking to produce {{proposal.quantity}} {{proposal.product}} by {{proposal.completion | date:"mediumDate"}}</h2>
			<div class="ui centered relaxed grid">

				<div class="sixteen wide tablet twelve wide computer column container divided">

					<div class="ui centered grid">
						<h3 class="row">{{offer.company}}'s offer</h3>
					</div>

					<form id="anchor_form" class="ui large offer form" ng-submit="submit()">
					<fieldset style="border: none;" ng-disabled="show_summary">
						<!-- START the raw materials selection -->
						<fieldset>
							<legend>&nbsp;Production Materials&nbsp;</legend><br>

							<div ng-repeat="material in offer.materials track by $index">
								<div class="ui grid second">

									<div class="field sixteen wide column">
										<label>
											<span data-tooltip="This is one of the raw materials you plan to use to produce {{proposal.product}}." data-position="right center">Raw Material {{offer.materials.length>1?$index+1+' ':''}}<i class="help circle outline icon"></i></span>
										</label>
										<input type="text" ngng-model="material.material" disabled>
									</div>


									<div class="eight wide column">
										<div class="field">
											<label><span data-tooltip="This is the weight (in kilograms)
											 of how much {{material.material?material.material:'material'}} you'll use to produce each unit." data-position="right center">Weight <i class="help circle outline icon"></i></span></label>
											<div class="ui right labeled input">
												<input type="number" min="0.00" step="0.01" ngng-model="material.weight" disabled>
												<div class="ui basic label">
													kg/unit
												</div> <!-- label -->
											</div>
										</div> <!-- .field -->
									</div> <!-- .column -->

									<div class="eight wide column">
										<div class="field">
											<label><span data-tooltip="This is the cost of {{material.weight?material.weight:'(e.g.) 2.5'}} kg of {{material.material?material.material:'Aluminum (AL 6061/5052)'}}." data-position="right center">Cost <i class="help circle outline icon"></i></span></label>
											<div class="ui right labeled input">
												<input type="number" ngng-model="material.cost" disabled>
												<div class="ui basic label">
													$/weight
												</div> <!-- label -->
											</div>
										</div> <!-- .field -->
									</div>
								</div> <!-- .second -->
								<div class="ui horizontal divider"></div>
							</div>


						</fieldset>
						<!-- END the raw materials selection -->

						<div class="ui horizontal divider"></div>

						<!-- START the raw machine labor -->
						<fieldset >
							<legend>&nbsp;Production Machines&nbsp;</legend><br>

							<div ng-repeat="machine in offer.machines track by $index">

								<div class="ui grid second">

									<div class="field sixteen wide column">
										<label><span data-tooltip="This is one type of machine you'll use in production." data-position="right center">Machine {{offer.machines.length>1?$index+1+' ':''}}<i class="help circle outline icon"></i></span></label>
										<input type="text" ngng-model="machine.labor" disabled>
									</div>



									<div class="eight wide column">
										<div class="field">
											<label><span data-tooltip="This is the time it takes the machine to process the raw material for one product." data-position="right center">Cycle Time <i class="help circle outline icon"></i></span></label>
											<div class="ui right labeled input">
												<input type="number" ng-model="machine.time" disabled>
												<div class="ui basic label">
													sec
												</div> <!-- label -->
											</div>
										</div> <!-- .field -->
									</div> <!-- .column -->

									<div class="eight wide column">
										<div class="field">
											<label><span data-tooltip="This is the cost of running the machine at an hourly rate." data-position="right center">Operation Cost <i class="help circle outline icon"></i></span></label>
											<div class="ui right labeled input">
												<input type="number" min="0.01" step="0.01" ngng-model="machine.rate" disabled>
												<div class="ui basic label">
													$/hr
												</div> <!-- label -->
											</div>
										</div> <!-- .field -->
									</div> <!-- .column -->

									<div class="eight wide column">
										<div class="field">
											<label><span data-tooltip="This is the yield as a percentage of output products / input raw materials." data-position="right center">Yield <i class="help circle outline icon"></i></span></label>
											<div class="ui right labeled input">
												<input type="number" ng-model="machine.yield" disabled>
												<div class="ui basic label">
													%
												</div> <!-- label -->
											</div>
										</div> <!-- .field -->
									</div> <!-- .column -->

									<div class="eight wide column">
										<div class="field">
											<label>Number of Machines <span data-tooltip="This is the quantity of this machine type that you'll have available for production." data-position="top right"><i class="help circle outline icon"></i></span></label>
											<div class="ui input">
												<input type="number" ng-model="machine.count" disabled>
											</div>
										</div> <!-- .field -->
									</div> <!-- .column -->

								</div> <!-- .second -->
								<div class="ui horizontal divider"></div>
							</div>


						</fieldset>
						<!-- END the raw machine labor -->

						<div class="ui horizontal divider"></div>

						<!-- START the raw machine labor -->
						<fieldset >

							<legend>&nbsp;Manual Labor&nbsp;</legend><br>

							<div ng-repeat="manual in offer.manuals track by $index">

								<div class="ui grid second">

									<div class="field sixteen wide column">
										<label><span data-tooltip="This is one type of manual labor you'll need in production." data-position="right center">Labor {{offer.manuals.length>1?$index+1+' ':''}}<i class="help circle outline icon"></i></span></label>
										<input ng-model="manual.labor" disabled>
									</div>



									<div class="eight wide column">
										<div class="field">
											<label><span data-tooltip="This is the time it takes the laborer to complete {{manual.labor?manual.labor:'this labor'}} for one product." data-position="right center">Labor Time <i class="help circle outline icon"></i></span></label>
											<div class="ui right labeled input">
												<input type="number" ng-model="manual.time" disabled>
												<div class="ui basic label">
													sec
												</div> <!-- label -->
											</div>
										</div> <!-- .field -->
									</div> <!-- .column -->

									<div class="eight wide column">
										<div class="field">
											<label><span data-tooltip="This is the wage of the laborer as an hour rate." data-position="right center">Labor Rate <i class="help circle outline icon"></i></span></label>
											<div class="ui right labeled input">
												<input type="number" ng-model="manual.rate" disabled>
												<div class="ui basic label">
													$/hr
												</div> <!-- label -->
											</div>
										</div> <!-- .field -->
									</div> <!-- .column -->

									<div class="eight wide column">
										<div class="field">
											<label><span data-tooltip="This is the yield as a percentage of output products / input materials." data-position="right center">Yield <i class="help circle outline icon"></i></span></label>
											<div class="ui right labeled input">
												<input type="number" ng-model="manual.yield" disabled>
												<div class="ui basic label">
													%
												</div> <!-- label -->
											</div>
										</div> <!-- .field -->
									</div> <!-- .column -->

									<div class="eight wide column">
										<div class="field">
											<label>Number of Laborers <span data-tooltip="This is the number of workers you'll have available for {{manual.labor?manual.labor:'this labor'}}." data-position="top right"><i class="help circle outline icon"></i></span></label>
											<div class="ui input">
												<input type="number" ng-model="manual.count" disabled>
											</div>
										</div> <!-- .field -->
									</div> <!-- .column -->

								</div> <!-- .second -->
								<div class="ui horizontal divider"></div>
							</div>

						</fieldset>
						<!-- END the raw machine labor -->

						<div class="ui horizontal divider"></div>

						<fieldset >
							<legend>&nbsp;Production Costs&nbsp;</legend><br>

							<div class="field">
								<label><span data-tooltip="This is the cost of your SG&A team." data-position="right center">SG&amp;A <small>(Sales, General, and Admin)</small> <i class="help circle outline icon"></i></span></label>
								<div class="ui right labeled input">
									<input ng-model="offer.sga" disabled>
									<div class="ui basic label">
										$
									</div> <!-- label -->
								</div>
							</div>
							<div class="field">
								<label><span data-tooltip="This is the overhead cost for..." data-position="right center">Overhead <i class="help circle outline icon"></i></span></label>
								<div class="ui right labeled input">
									<input ng-model="offer.overhead" disabled>
									<div class="ui basic label">
										$
									</div> <!-- label -->
								</div>
							</div> <!-- .field -->
							<div class="field">
								<label><span data-tooltip="This is how much you plan to profit per unit." data-position="right center">Profit <i class="help circle outline icon"></i></span></label>
								<div class="ui right labeled input">
									<input ng-model="offer.profit" disabled>
									<div class="ui basic label">
										$
									</div> <!-- label -->
								</div>
							</div> <!-- .field -->
							<div class="field">
								<label><span data-tooltip="This is the total cost we've calculated from the number you've provided." data-position="right center">Total <i class="help circle outline icon"></i></span></label>
								<div class="ui right labeled input">
									<input ng-model="offer.total" disabled>
									<div class="ui basic label">
										$
									</div> <!-- label -->
								</div>
							</div> <!-- .field -->
						</fieldset>

						<div class="ui horizontal divider"></div>

						</fieldset>
					</form>
				</div> <!-- .column -->

				</div> <!-- .column -->
			</div> <!-- .grid - the big grid, the grid from the top, the grid from above, amin! -->

		</div> <!-- .container -->

		<div ng-include="'partials/footer.html'"></div>

	</div> <!-- #greenwrapper -->

	<script src="static/js/slick.min.js"></script>
	<script src="static/js/green.js"></script>

</div>
