<script>
	$('body').css('background-color', 'white');
	$('body').css('background-image', "none");
</script>

<div id='blurme' class="row">
	<!-- Navbar -->
  <nav>
		<a href="#/">Home</a>
		<a ng-show="username" href="#/post">Post</a>
		<a ng-hide="username" href="#/login">Login/Register</a>
		<a href="#/post">Add Page</a>
		<a ng-show="username" href="#/logout" ng-click="logout()">Logout</a>
	</nav>

<div class="center">
  <img class='rounded_corner_img' src="http://lorempixel.com/250/349/fashion/">
  <h2>Add Tag</h2>
  <input type="text" placeholder="Paste url Here"/>
  <br />
  <a href="#/"><button>Back</button></a>
</div>
