<script src="../static/js/navbarControls.js"></script>
<script>
	$('body').css('background-color', 'white');
	$('body').css('background-image', "none");
</script>

<div id='blurme' class="row">
	<!-- Navbar -->
	<nav>
		<a href="#/">Home</a>
		<a ng-show="username" href="#/post">Post</a>
		<a ng-hide="username" href="#/login">Login/Register</a>
		<a href="#/add">Add Page</a>
		<a ng-show="username" href="#/logout" ng-click="logout()">Logout</a>
	</nav>

	<!-- Commented out to make room for search bar -->
	<!-- <h1>Welcome<span ng-if="username">, {{username}}</span></h1> -->
	<h1 class="bringshoot">Edit Post</h1>
	<h1 ng-show="username == post._user.username" class="bringshoot">Edit Post</h1>
	<a ng-show="username != post._user.username" href="#/user/{{post._user.username}}"></a><h1 class="bringshoot">{{post._user.username}}}</h1>

	<hr>
	<div class="ten columns">
		<div>
			<a href=""><img src="https://i.gyazo.com/578967ba91232f4f5503c6850a562ceb.png"></a><button>Remove Link</button>
			<a href=""><img src="https://i.gyazo.com/7eb118a800857476562eebc5b9bc60f8.png"></a><button>Remove Link</button>
			<a href=""><img src="https://i.gyazo.com/939c46dc4e2a06f4f20ab0135845d674.png"></a><button>Remove Link</button>
		</div>
		<hr>
		<form ng-show="username == post._user.username" ng-submit="">
			<input type="text" placeholder="https://www..."><br>
			<input class="button-primary" type="submit" value="Add link">
			<a href="#/"><button>Home</button></a>
			<a href="#/"><button>Remove Post</button></a>
		</form>
	</div>

	<!-- Side nav -->
	<div class="one column" style="position:fixed; right:15%;">
		<span id="froxxi" class="bringshoot">froxxi</span>
		<a href="#/favorites"><button class='nav_button' type="button" name="button">Favorites</button></a>
		<button class='nav_button' id='add_picture_button' type="button" name="button">Add</button>
		<a href="#/profile/{{username}}"><button class='nav_button' type="button" name="button">Profile</button></a>
		<button class='nav_button' type="button" name="button">Categories</button>
	</div>
</div> <!--end of blurme-->
<!-- <img ng-repeat="post in posts" src="data:image/jpeg;base64{post.image}"> -->
<div class="upload_image hidden">
	<form>
		<label>+ Upload an Image</label>
		<input type="file" ng-model="post.image" value="Select Photo">
	</form>
	<button id="backFromImageSelectionButton"><< Back</button>
</div>
