<div ng-class="user" class="userarea profile">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<section class="ui very padded basic segment offer form">

			<h2>Profile</h2>
			<p>Your public profile as visible to others</p>

			<div class="ui horizontal divider"></div>
			<div class="ui horizontal divider"></div>

			<div class="ui fluid container">
				<div class="ui grid">
					<div class="sixteen wide tablet eight wide computer column">

						<h4>Contact Info</h4>

						<div class="ui padded segment noborder">
							<div class="ui relaxed divided grid">
								<div class="sixteen wide tablet eight wide computer column middle aligned">
									<div class="ui list social-list">
										<div class="item">
											<i class="world icon"></i>
											<div class="content">
												<a href="www.husky.com">www.husky.com</a>
											</div>
										</div>
										<div class="item">
											<i class="linkedin icon"></i>
											<div class="content">
												linkedin.com/u/<a href="http://linkedin.com/u/husky">husky</a>
											</div>
										</div>
										<div class="item">
											<i class="facebook f icon"></i>
											<div class="content">
												facebook.com/<a href="http://facebook.com/husky">husky</a>
											</div>
										</div>
										<div class="item">
											<i class="twitter icon"></i>
											<div class="content">
												twitter.com/<a href="http://twitter.com/husky">husky</a>
											</div>
										</div>
									</div> <!-- .ui list -->
								</div> <!-- .column -->
								<div class="sixteen wide tablet eight wide computer column middle aligned">
									<h4>Your Address</h4>
									<p class="address footnote op50">
										610 Overlook Circle Suite 323 Kalamazoo, MI 49009
									</p>
								</div> <!-- .column -->
							</div> <!-- .grid -->
						</div> <!-- noborder -->

						<h4>Posts</h4>

						<div class="ui resulted items">

							<!-- this is one item -->
							<div class="item">
								<div class="ui small calendar">
									Oct<br />
									<strong>28</strong>
								</div>
								<div class="middle aligned content">
									<div class="header">
										Customer in USA looking to produce 1M units by Sep. 16
									</div> <!-- ad title -->
									<div class="description">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis, lacus eu elementum aliquet, enim odio porta tellus, vel tincidunt orci velit eu turpis.</p>
									</div> <!-- .description -->

								</div>
								<div class="extra flex">
									<a ng-class="color" href="#!/proposal/{{proposal.id}}" class="ui evergreen button">View</a>
								</div>
							</div> <!-- .item -->

							<!-- this is one item -->
							<div class="item">
								<div class="ui small calendar">
									Oct<br />
									<strong>28</strong>
								</div>
								<div class="middle aligned content">
									<div class="header">
										Customer in USA looking to produce 1M units by Sep. 16
									</div> <!-- ad title -->
									<div class="description">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis, lacus eu elementum aliquet, enim odio porta tellus, vel tincidunt orci velit eu turpis.</p>
									</div> <!-- .description -->

								</div>
								<div class="extra flex">
									<a ng-class="color" href="#!/proposal/{{proposal.id}}" class="ui evergreen button">View</a>
								</div>
							</div> <!-- .item -->

							<!-- this is one item -->
							<div class="item">
								<div class="ui small calendar">
									Oct<br />
									<strong>28</strong>
								</div>
								<div class="middle aligned content">
									<div class="header">
										Customer in USA looking to produce 1M units by Sep. 16
									</div> <!-- ad title -->
									<div class="description">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis, lacus eu elementum aliquet, enim odio porta tellus, vel tincidunt orci velit eu turpis.</p>
									</div> <!-- .description -->

								</div>
								<div class="extra flex">
									<a ng-class="color" href="#!/proposal/{{proposal.id}}" class="ui evergreen button">View</a>
								</div>
							</div> <!-- .item -->

							<!-- this is one item -->
							<div class="item">
								<div class="ui small calendar">
									Oct<br />
									<strong>28</strong>
								</div>
								<div class="middle aligned content">
									<div class="header">
										Customer in USA looking to produce 1M units by Sep. 16
									</div> <!-- ad title -->
									<div class="description">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis, lacus eu elementum aliquet, enim odio porta tellus, vel tincidunt orci velit eu turpis.</p>
									</div> <!-- .description -->

								</div>
								<div class="extra flex">
									<a ng-class="color" href="#!/proposal/{{proposal.id}}" class="ui evergreen button">View</a>
								</div>
							</div> <!-- .item -->

							<!-- this is one item -->
							<div class="item">
								<div class="ui small calendar">
									Oct<br />
									<strong>28</strong>
								</div>
								<div class="middle aligned content">
									<div class="header">
										Customer in USA looking to produce 1M units by Sep. 16
									</div> <!-- ad title -->
									<div class="description">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis, lacus eu elementum aliquet, enim odio porta tellus, vel tincidunt orci velit eu turpis.</p>
									</div> <!-- .description -->

								</div>
								<div class="extra flex">
									<a ng-class="color" href="#!/proposal/{{proposal.id}}" class="ui evergreen button">View</a>
								</div>
							</div> <!-- .item -->


						</div> <!-- .items -->

						<div class="ui pagination secondary menu">
							<a class="active item">
								1
							</a>
							<div class="disabled item">
								...
							</div>
							<a class="item">
								10
							</a>
							<a class="item">
								11
							</a>
							<a class="item">
								12
							</a>
						</div>

					</div> <!-- .column -->
					<div class="sixteen wide tablet eight wide computer column">
						This is where the map will be
					</div>
				</div> <!-- .grid -->
			</div> <!-- .fluid container -->

		</section> <!-- .very padded segment -->

		<div ng-include="'partials/footer.html'"></div>

	</div> <!-- #greenwrapper -->


	<script src="static/js/green.js"></script>
</div>
