<div ng-class="user" class="userarea">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<section class="ui very padded basic segment offer form">

			<h2>Your Proposals</h2>
			<p>Your proposals.</p>
			<a ng-class="color" href="#!/create-proposal" class="ui evergreen button">CREATE NEW PROPOSAL</a>


			<div class="ui horizontal divider"></div>
			<div class="ui horizontal divider"></div>

			<div id="floatingCirclesG" ng-show="!is_loaded">
				<div class="f_circleG" id="frotateG_01"></div>
				<div class="f_circleG" id="frotateG_02"></div>
				<div class="f_circleG" id="frotateG_03"></div>
				<div class="f_circleG" id="frotateG_04"></div>
				<div class="f_circleG" id="frotateG_05"></div>
				<div class="f_circleG" id="frotateG_06"></div>
				<div class="f_circleG" id="frotateG_07"></div>
				<div class="f_circleG" id="frotateG_08"></div>
			</div>

			<div class="ui left details" style="margin-bottom: 50px;" ng-show="is_loaded">

				<div class="ui segment">
					<div class="ui right aligned grid filters-top">

						<div class="left aligned eight wide column">
							<p class="count">{{proposals.length}} {{proposal.length == 1 ? 'Result':'Results'}}</p>
						</div> <!-- left column -->
						<div class="eight wide column">
							<!-- <p class="toplabels">Order By:
								<a href="" title="Date" class="selected-link">Date</a> &bull; <a href="" title="Rating">Rating</a> &bull; <a href="" title="Relevance">Relevance</a>
							</p> -->
						</div> <!-- .right column -->
					</div>
				</div>

				<!-- Maker Zone -->
				<div class="item-cards list-cards">

					<div class="ui horizontal divider"></div>
					<!-- this item has a details panel that opens when you click View -->
					<!-- DO NOT include this inside .item because the flex will mess it up -->



					<!-- this is where we end the details panel -->
					<div ng-repeat="proposal in proposals" class="ui resulted items">
						<div class="item" ng-class="selected_proposal == proposal ? 'ui segment opened':''">
							<div class="ui small calendar">
								{{proposal.created_at | date:"MMM"}}<br />
								<strong ng-bind="{{proposal.created_at | date:'dd'}}"></strong>
							</div>
							<div class="middle aligned content">
								<div class="header">
									<a href="#!/show-proposal/{{proposal.id}}">{{proposal.quantity}} {{proposal.product}}</a> <!-- {{proposal.completion | date:"MMM y"}} -->
								</div>
								<div class="description">
									<p>{{proposal.info}}</p>
								</div>
							</div>
							<div class="extra">
								<a ng-click="getOffers(proposal);" ng-class="selected_proposal==proposal ? '' : color" href="" class="ui evergreen button">{{selected_proposal == proposal ? 'Close':'View Offers'}}</a>
								<a ng-click="set(proposal)" ng-class="selected_proposal==proposal ? '' : color" href="" class="ui evergreen button delete-button">Remove</a>
								<small>{{proposal.applications*3}} Views   |   {{proposal.applications}} {{proposal.applications == 1 ? 'Applicant': 'Applicants'}}   |   {{proposal.leads}} {{proposal.leads == 1 ? 'Lead': 'Leads'}}</small>
							</div>
						</div>
						<div ng-show="selected_proposal == proposal" class="detail-panel">
							<div class="ui top attached tabular menu">
								<a ng-class="proposalTab == 0 ? 'active':''" class="item" ng-click="proposalTab = 0" data-tab="offers">Offers</a>
								<a ng-class="proposalTab == 1 ? 'active':''" class="item" ng-click="proposalTab = 1" data-tab="leads">Leads</a>
							</div>
							<div ng-class="proposalTab == 0 ? 'active':''" class="ui bottom attached tab" data-tab="offers">
								<div class="messaging-container insidetabs">

									<!-- here we have the left vertical menu as tabs -->

									<div class="ui stackable grid">
										<div class="sixteen wide tablet four wide computer column">
											<div class="ui vertical fluid tabular menu">

												<div class="ui items message-contacts">
													<a ng-repeat="offer in offers" ng-click="getOffer(offer);" class="item" ng-class="{active: offer == offerView, orange: offer == offerView}" data-tab="applicant1">
														<div class="ui tiny image" style=" background-image: url({{offer.picture? offer.picture:'static/img/husky-logo.png'}});
										    background-size: cover;">
															<!-- <img src="{{offer.picture? offer.picture:'static/img/husky-logo.png'}}" class="ui centered image" /> -->
														</div>
														<div class="middle aligned content">
															<h4>{{offer.company}}</h4>
															<p class="footnote">Received </p>
														</div>
													</a>
												</div>
											</div>
										</div>


										<div class="sixteen wide tablet twelve wide computer column stretched">
											<div class="ui very padded basic segment">
												<div ng-show="selected_proposal==proposal && !offers" class="detail-panel">
													<h1 class="ui center aligned segment">No offers for this proposal yet.</h1>
												</div>
												<div ng-show="offers.length > 0" class="ui tab active" data-tab="applicant1">

													<div class="offer-details">
														<h2 style="margin-top: 0px; padding-top: 0px;">{{offerView.company}}'s Offer:</h2>
														<div class="details-item">
															<p class="footnote">Their offer per unit</p>
															<div class="details-value"><span class="op50">$</span> {{offerView.PPU}}</div>
														</div>

														<div class="details-item">
															<p class="footnote">Total price</p>
															<div class="details-value"><span class="op50">$</span> {{offerView.total}}</div>
														</div>

														<div class="details-item">
															<p class="footnote">Delivery date</p>
															<div class="details-value"><i class="calendar outline icon op50"></i> {{selected_proposal.completion | date:"dd.MM.y"}}</div>
														</div>

														<div class="details-item">
															<p class="footnote">Offer Details</p>
															<div class="details-value"><a href="#!/show-offer/{{offerView.proposal_id}}/{{offerView.user_id}}" title="View full offer">View full offer </a></div>
															<script type="text/javascript">
																$('.accept-button').click(function(){
																	$('#accept-modal').modal('show');
																});
																$('.form').submit(function(){
																	$('#accept-modal').modal('hide');
																});
																$('.delete-button').click(function(){
																	$('#delete-modal').modal('show');
																});
															</script>
														</div>
													</div>

													<!-- <img src="static/img/insidegraph.png" width="598" class="ui image" /> -->
													<div ng-if="selected_proposal == proposal" style="" id="chart_div"></div>
													<div class="green-square"></div>
													<span data-tooltip="Evergreen uses the lowest prices from each offer to generate a benchmark for evaluating all offers." data-position="right center">
														Evergreen's Estimated Cost <i class="help circle outline icon"></i>
													</span>
													<div class="orange-square"></div>
													<span data-tooltip="The offer selected on the left will show up in orange" data-position="right center">
														Selected offer <i class="help circle outline icon"></i>
													</span>

													<div class="ui horizontal divider"></div>

													<a ng-class="color" href="" class="ui big evergreen uppercase button accept-button">Accept {{offerView.company}}'s Offer</a>

												</div>

												<div class="ui tab" data-tab="applicant2">
													area 2
												</div>
												<div class="ui tab" data-tab="applicant3">
													area 3
												</div>
											</div>
										</div>
									</div>

								</div>

							</div>
							<div ng-class="proposalTab == 1 ? 'active':''" class="ui bottom attached tab" data-tab="leads">

								<div class="messaging-container insidetabs">

									<!-- here we have the left vertical menu as tabs -->

									<div class="ui stackable grid">
										<div class="sixteen wide tablet four wide computer column">
											<div class="ui vertical fluid tabular menu">
												<p class="infonote">Suppliers that accepted the NDA but didn’t make an offer. You can contact them to get more insights on why they haven't submitted an offer yet.</p>
												<div ng-repeat="lead in leads" class="ui items message-contacts">
													<a ng-class="lead == leadView ? 'active':''" class="item" ng-click="leadViewAssign(lead)">
														<div class="ui tiny image" style=" background-image: url({{lead.picture? lead.picture:'static/img/husky-logo.png'}});
										    background-size: cover;">
															<!-- <img src="static/img/husky-logo.png" class="ui centered image" /> -->
														</div>
														<div class="middle aligned content">
															<h4> {{lead.company}}</h4>
															<p class="footnote">Received {{lead.created_at | date: "dd.MM.y"}}</p>
														</div>
													</a>
												</div>
											</div>
										</div>


										<div class="sixteen wide tablet twelve wide computer column stretched">
											<div class="ui very padded basic segment">
												<div ng-show="leadView" class="ui tab active" data-tab="lead1">

													<div class="ui segment buybox">
														<h3>{{leadView.company}}</h3>
														<!-- <p>610 Overlook Circle Suite 323 Kalamazoo, MI 49009</p> -->

														<div class="ui horizontal slider"></div>

														<div class="ui horizontal divider"></div>
														<a ng-click="removeLead(leadView);" class="ui big fluid red uppercase basic button" href="">Remove lead</a>
													</div>

												</div>
												<div ng-show="selected_proposal==proposal && !leads" class="detail-panel">
													<h1 class="ui center aligned segment">No leads for this proposal yet.</h1>
												</div>

											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>

					<div class="ui pagination secondary menu">
						<a class="active item">
							1
						</a>
						<div class="disabled item">
							...
						</div>
						<a class="item">
							10
						</a>
						<a class="item">
							11
						</a>
						<a class="item">
							12
						</a>
					</div>

				</div>
			</div>
		</section> <!-- .very padded segment -->

		<div ng-include="'partials/footer.html'"></div>

	</div> <!-- #greenwrapper -->

</div>

<!-- Modal -->
<div class="ui small coupled modal sixteen centered grid" id="accept-modal">
	<div class="five wide column" style="background-color: #47535F">
		<div class="ui sixteen centered grid">
			<div class="ui image sixteen wide column">
				<img src="static/img/shield.png" class="ui centered image" />
			</div>
			<div class="sixteen wide column" style="color: white; text-align: center">
				<p>Evergreen is 100%</p>
			</div>
			<div class="sixteen wide column" style="color: white; text-align: center">
				<p>Safe &amp; Secure</p>
			</div>
		</div>
	</div>
	<div class="ten wide column">
		<div class="actions" style="float: right">
			<div class="ui cancel button"><i class="remove icon"></i></div>
		</div>
		<div class="header six wide column">
			<h2>Accept offer</h2>
		</div>
		<div class="ui ten centered grid">
			<div class="five wide column">
				<h5>Deliver Date</h5>
				<p>{{selected_proposal.completion | date:"dd.MM.y"}}</p>
			</div>
			<div class="five wide column">
				<h5>Sub-total</h5>
				<p>$ {{offerView.total}}</p>
			</div>
		</div>
		<div class="field sixteen wide column">&nbsp;</div>
		<form ng-submit="accept();" class="ui form">
			<div class="field sixteen wide column">
				<label>You will receive an invoice for the total amount of:</label>
			</div>
			<div class="field sixteen wide column">
				<input type="text" name="input" ng-model="offerView.total" disabled>
			</div>
			<div class="field sixteen wide column">&nbsp;</div>
			<div class="ui checkbox">
				<input type="checkbox" name="accept-terms" id="accept-terms">
				<label for="accept-terms">I have read and accept the Terms &amp; Conditions</label>
			</div>
			<div class="field sixteen wide column">&nbsp;</div>
			<div class="field sixteen wide column">
				<button ng-click="acceptOffer()" class="fluid ui orange button" type="submit">Accept and Continue</button>
			</div>
			<div class="field sixteen wide column">&nbsp;</div>
		</form>
	</div>
</div>

<div class="ui small coupled modal sixteen centered grid" id="delete-modal">
	<div class="header">Are you sure you want to delete this proposal?</div>
	<div class="content">
		<p>All of the offers for this proposal will be dropped as well. Click 'Confirm' to continue removing the proposal.</p>
	</div>
	<div class="actions">
		<button class="ui approve button" ng-click="delete()">Confirm</button><button class="ui cancel button">Cancel</button>
	</div>
</div>

 <!-- MODAL 2 -->
<!-- <div class="ui small second coupled modal sixteen centered grid">
	<div class="actions">
		<div class="ui cancel button"><i class="remove icon"></i></div>
	</div>
	<div class="ui small image" style="text-align: center">
		<img class="ui centered image" src="static/img/green-check.png" alt="">
	</div>
	<div class="field sixteen wide column">&nbsp;</div>
	<div class="sixteen wide column" style="text-align: center">
		<h3>Congratulation on a deal well done!</h3>
	</div>
	<div class="sixteen wide column" style="text-align: center">
		<h2>What's next?</h2>
	</div>
	<div class="sixteen wide column" style="text-align: center">
		<p>You will be able to coordinate with the supplier, track your production</p>
		<p>status and maintain the best costs</p>
		<br>
		<p>The Evergreen team is here for you.  Email or call us at anytime.</p>
		<hr>
		<p>Contact our Customer Support that is always ready to help you with any</p>
		<p>possible questions, problems or information.</p>
	</div>
	<div class="five wide column">
		<button id="returnToAccount" class="fluid ui green button" type="submit">Your Account</button>
	</div>
</div> -->
