<!-- Navbar -->
<nav>
	<a href="#/">Home</a>
	<a ng-hide="username" href="#/login">Login/Register</a>
	<a ng-show="username" href="#/logout" ng-click="logout()">Logout</a>
</nav>
<img id='shoptheworld' src="static/images/shoptheworld.png" alt="" />
<div class="row">
	<div id='login' class="one-half column offset-by-four">
		<img src="static/images/welcometofroxxi.png" alt="welcome to froxxi" />
		<form ng-submit="create()">
			<input id="top_form" type="text" placeholder='username' ng-model="new_user.username" minlength="2" required>
			<br>
			<input class="middle_form" type="email" placeholder='email' ng-model="new_user.email" required>
			<br>
			<input class="middle_form" type="password" placeholder='password' ng-model="new_user.password" required>
			<br>
			<input id="bottom_form" type="password" placeholder='confirm password' ng-model="new_user.confirm_password" required>
			<br>
			<input id="login_submit" class="button-primary" type="submit" value="Sign Up">
			<p class="error" ng-bind="create_error"></p>
		</form>
		<p class="white_text">
			Already have an account? <a href="#/login">Log in</a>
		</p>
	</div>
