<div class="login success" ng-class="user">

	<div id="greenwrapper">
		<div ng-include="'partials/header.html'"></div>
		<section class="userlogin">
			<div class="ui container">

				<div class="ui middle aligned center aligned grid screen mid">
					<div class="column">
						<img src="static/img/{{color}}-check.png" alt="Check" width="120" />

						<h2>Welcome to Evergreen</h2>
						<div ng-if="type==0">
							<p>Let’s find you the best supplier for your product</p>
							<a class="ui evergreen upper button orange" href="#!/create-proposal">Continue</a>
						</div>

						<div ng-if="type==1">
							<p>Now let's tell people what you can build</p>
							<a class="ui evergreen upper button green" href="#!/processes">Continue</a>
						</div>

					</div> <!-- .column -->
				</div> <!-- .screen.mid -->

			</div> <!-- .container -->
		</section> <!-- .userlogin -->

	</div> <!-- #greenwrapper -->


</div>
