<div ng-class="user" class="userarea">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<section class="ui very padded basic segment offer form">

			<h2>Track Progress</h2>
			<p>Your current tracked progress.</p>

			<div class="ui horizontal divider"></div>
			<div class="ui horizontal divider"></div>

			<div class="ui left details">

				<div class="ui segment">
					<div class="ui right aligned grid filters-top">

						<div class="left aligned eight wide column">
							<p class="count">{{proposals.length}} Tracked Progresses</p>
						</div> <!-- left column -->
						<div class="eight wide column">
							<p class="toplabels">Order By:
								<a href="" title="Date" class="selected-link">Date</a> &bull; <a href="" title="Rating">Rating</a> &bull; <a href="" title="Relevance">Relevance</a>
							</p>
						</div> <!-- .right column -->
					</div>
				</div>

				<div class="item-cards list-cards">
					<div class="ui horizontal divider"></div>
					<div class="ui resulted items">

						<div ng-repeat="proposal in proposals" class="ui resulted items">
							<div class="item" ng-class="proposalView == proposal.id ? 'ui segment opened' : ''"> <!-- ui segment opened -->
								<div class="ui tiny image">
									<img src="static/img/husky-logo.png" class="ui centered image" />
								</div>
								<div class="middle aligned content">
									<div class="header">
										{{proposal.item}}
									</div>
									<div class="description">
										<div class="tracking progress">
											<div class="flag start">
												<img src="static/img/flag.png" width="13" />
											</div>
											<div class="ui indicating progress" data-percent="74">
												<div class="bar">
													<div class="progress"></div>
												</div>
											</div>
											<small>24 days left</small>
										</div>
									</div>
								</div>
								<div class="extra flex">
									<a ng-click="getReports(proposal.id);" ng-class="proposalView==proposal.id ? '' : color" href="" class="ui evergreen button">{{proposalView == proposal.id ? 'Close':'Details'}}</a>
								</div>
							</div>

							<div ng-show="proposalView == proposal.id" class="detail-panel">

								<div class="ui padded segment">
									<div class="ui grid">
										<div class="four wide column">
											<div class="vertical timeline">
												<ul class="timeline items">
													<li>Start Date</li>
													<li ng-repeat="report in reports" ng-class="{'working': $odd, 'done': $last}">January 27th, 2016</li>
												</ul>
											</div>
										</div>
										<div class="twelve wide column">
											<ul class="detailed items">
												<li>
													Started production
												</li>
												<li ng-repeat="report in reports">
													<div class="actions">
														<a href="" title="View Daily Report">View Daily Report</a><span ng-if="type==1">|</span><a ng-click="reportForm(1234);" class="open-modal" ng-show="type==1" href="">Add Note</a>
														<script type="text/javascript">
															$('.open-modal').click(function(){
																$('.ui.modal').modal('show');
															});

															$('.form').submit(function(){
																$('.ui.modal').modal('hide');
															});
														</script>
													</div>
													{{report.output}}
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>





					</div>
				</div>
			</div>
		</section>
		<div ng-include="'partials/footer.html'"></div>
	</div>


	<script src="static/js/green.js"></script>
</div>

<!-- Modal -->
<div class="ui small modal">
	<div class="actions">
		<div class="ui cancel button"><i class="remove icon"></i></div>
	</div>
	<div class="ui sixteen centered grid">
		<div class="header fourteen wide column">
			<h2>Add Production Note</h2>
		</div>
		<form ng-submit="reportSubmit();" class="ui form">
			<div class="field five wide column">
				<label>What did you input today?</label>
			</div>
			<div class="field sixteen wide column">
				<input type="text" name="input" ng-model="form.input">
			</div>
			<div class="field five wide column">
				<label>What did you output today?</label>
			</div>
			<div class="field sixteen wide column">
				<input type="text" name="output" ng-model="form.output">
			</div>
			<div class="field five wide column left aligned">
				<label>What did you ship today?</label>
			</div>
			<div class="field sixteen wide column">
				<input type="text" name="output" ng-model="form.shipped">
			</div>
			<div class="field one wide column">
				<label>Note</label>
			</div>
			<div class="field sixteen wide column">
				<textarea rows="8" cols="80" ng-model="form.note"></textarea>
			</div>
			<div class="field sixteen wide column">
				<button class="fluid ui green button" type="submit">Save Note</button>
			</div>
			<div class="field sixteen wide column">&nbsp;</div>
		</form>
	</div>
</div>

<script src="static/js/modal.js"></script>
