

<div ng-class="user" class="userarea">

	<div id="greenwrapper">

		<div ng-include="'partials/header.html'"></div>

		<section class="ui very padded basic segment offer form">

			<h2>Track Progress</h2>
			<p>Your current tracked progress.</p>

			<div class="ui horizontal divider"></div>
			<div class="ui horizontal divider"></div>

			<div class="ui left details">

				<div class="ui segment">
					<div class="ui right aligned grid filters-top">

						<div class="left aligned eight wide column">
							<p class="count">{{proposals.length}} Tracked Progresses</p>
						</div> <!-- left column -->
						<div class="eight wide column">
							<!-- <p class="toplabels">Order By:
								<a href="" title="Date" class="selected-link">Date</a> &bull; <a href="" title="Rating">Rating</a> &bull; <a href="" title="Relevance">Relevance</a>
							</p> -->
						</div> <!-- .right column -->
					</div>
				</div>

				<div class="item-cards list-cards">
					<div class="ui horizontal divider"></div>
					<div class="ui resulted items">

						<div ng-repeat="proposal in proposals" class="ui resulted items">
							<div class="item" ng-class="proposalView == proposal ? 'ui segment opened' : ''"> <!-- ui segment opened -->
								<div class="ui tiny image" style="border: none;">
									<img src="{{proposal.picture}}" class="ui centered image" style="border: 1px solid #dfdfdf;
    border-radius: 4px;" />
								</div>
								<div class="middle aligned content">
									<div class="header">
										{{proposal.quantity}} {{proposal.product}} by {{proposal.completion_date | date}}<br>
										<small><a href="#!/show-proposal/{{proposal.proposal_id}}">View proposal</a> - <a href="#!/show-offer/{{proposal.proposal_id}}/{{proposal.user_id}}">View offer</a></small>
									</div>
									<div class="description">
										<div class="tracking progress">
											<div class="flag start">
												<img src="static/img/flag.png" width="13" />
											</div>
											<div class="ui indicating progress" data-percent="74">
												<div class="bar" style="width: {{proposal.completed/proposal.quantity}}%">
													<div class="progress"><span style="color:black; font-weight: 600; font-size: 9px;">{{proposal.completed}}%</span></div>
												</div>
											</div>
											<small>{{proposal.days_left}} days left </small>
										</div>
									</div>
								</div>
								<div class="extra flex" style="display: block; vertical-align: top;">
									<a ng-click="getReports(proposal);" ng-class="proposalView==proposal ? '' : color" href="" class="ui evergreen button">{{proposalView == proposal ? 'Close':'Details'}}</a>
								</div>
							</div>

							<div ng-show="proposalView == proposal" class="detail-panel">

								<div class="ui padded segment">
									<div class="ui grid">
										<div class="four wide column">
											<div class="vertical timeline">
												<ul class="timeline items">
													<li>Start Date</li>
													<li ng-repeat="report in reports" ng-bind="report.created_at | date:'MMM d y'"></li>
													<li ng-if="!finished" ng-class="{working: !finished}">Report not yet submitted</li>
													<li class="working">{{proposal.completion_date | date:"MMMM d y"}}</li>
												</ul>
											</div>
										</div>
										<div class="twelve wide column">
											<ul class="detailed items">
												<li>Started Production</li>
												<li ng-repeat="report in reports track by $index">
													<div class="actions">
														<a href="" title="View Daily Report" class="show-report" ng-click="showReport(report)">View Daily Report</a>
													</div>
													<small>{{report.created_at | date}} - </small>Built {{report.output}} units
												</li>
												<!-- <li ng-if="type==1 && !reported_today && !finished">
													<div class="actions">
														<a ng-click="reportForm();" class="open-modal" href="">View Report</a>
													</div>
													Report not submitted for {{today | date}}
												</li> -->
												<li>
													<div ng-if="type == 1 && !finished" class="actions">
														<a ng-click="reportForm();" class="open-modal" href="">Add Report</a>
													</div>
													In Progress for {{today | date}}
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div ng-include="'partials/footer.html'"></div>
	</div>
</div>

<!-- Modal -->
<div class="ui small modal" id="create-modal">
	<div class="actions">
		<div class="ui cancel button"><i class="remove icon"></i></div>
	</div>
	<div class="ui sixteen padded grid">
		<div class="header fourteen wide column">
			<h2>Add Production Note</h2>
		</div>
		<form ng-submit="reportSubmit();" class="ui form">
			<div class="field five wide column">
				<label>What did you input today?</label>
			</div>
			<div class="field sixteen wide column">
				<input type="number" min="0" name="input" ng-model="new_report.input">
			</div>
			<div class="field five wide column">
				<label>What did you output today?</label>
			</div>
			<div class="field sixteen wide column">
				<input type="number" min="0" name="output" ng-model="new_report.output">
			</div>
			<div class="field five wide column">
				<label>What did you ship today?</label>
			</div>
			<div class="field sixteen wide column">
				<input type="number" min="0" name="output" ng-model="new_report.shipped">
			</div>
			<div class="field one wide column">
				<label>Notes</label>
			</div>
			<div class="field sixteen wide column">
				<textarea rows="8" cols="80" ng-model="new_report.note"></textarea>
			</div>
			<div class="field sixteen wide column">
				<button class="fluid ui green button" type="submit">Save Note</button>
			</div>
			<p style="color: red" ng-bind="error"></p>
			<div class="field sixteen wide column">&nbsp;</div>
		</form>
	</div>
</div>

<div class="ui small modal" id="show-modal">
	<div class="header">
		Viewing Report For {{cur_report.created_at | date:"MMMM d y"}}
	</div>
	<div class="content">
		<p style="opacity: 1;">Report submitted at 10:00pm.</p>
		<table class="ui celled table">
			<tbody>
				<tr>
					<td>Input</td>
					<td ng-bind="cur_report.input"></td>
				</tr>
				<tr>
					<td>Output</td>
					<td ng-bind="cur_report.output"></td>
				</tr>
				<tr>
					<td>Shipped</td>
					<td ng-bind="cur_report.shipped"></td>
				</tr>
			</tbody>
		</table>
		<p style="opacity: 1;">Notes:</p>
		<p style="opacity: 1;" ng-bind="cur_report.note"></p>
	</div>
	<div class="actions">
		<div class="ui cancel black button">Close</div>
	</div>
</div>

<script src="static/js/modal.js"></script>
<script src="static/js/green.js"></script>
