<script src="../static/js/navbarControls.js"></script>
<script>
	$('body').css('background-color', 'white');
	$('body').css('background-image', "none");
</script>

<!-- Navbar -->
<nav>
	<a href="#/">Home</a>
	<a href="#/logout" ng-click="logout()">Logout</a>
</nav>

<div class="row">
	<div class="ten columns ">
		Image here
	</div>
	<!-- Side nav -->
	<div class="one column">
		<p>
			Froxxi
		</p>
		<button type="button" name="button">Favorites</button>
		<button id='add_picture_button' type="button" name="button">Add</button>
		<button type="button" name="button">Profile</button>
	</div>
</div> <!--end of container-->