<div class="useraccess">
  <div id="greenwrapper">
    <div class="ui grid tall">
      <div class="sixteen wide tablet six wide computer column supplier form">
        <div class="ui padded basic segment">
          <div class="ui padded basic segment notop">

            <div class="left floated">
              <img src="static/img/logo-black.png" width="151" class="ui image" />
            </div> <!-- .floated -->

            <h2>Join as a supplier</h2>
            <p>Products need to be made. Be the one that makes them.</p>
            <div class="ui horizontal divider"></div>
            <div class="ui big form">
              <div class="field">
                <input placeholder="Company Name" type="text">
              </div>
              <div class="field">
                <input placeholder="Contact Person" type="text">
              </div>
              <div class="field">
                <input placeholder="Email Address" type="email">
              </div>
              <div class="field">
                <input placeholder="Password" type="password">
              </div>

              <small>By signing up you agree to our <a href="#" title="Terms">Terms</a> and <a href="#" title="Privacy Policy">Privacy Policy</a></small>

              <div class="ui horizontal divider"></div>
              <a class="ui fluid evergreen green button" href="/success-supplier">Join Now</a>

              <div class="ui horizontal divider"></div>
              <small>Make it simple. Join with your LinkedIn Account</small>

              <a href="#" class="ui fluid primary basic button"><img src="static/img/icon-linkedin.png" width="24"> Join with LinkedIn</a>
            </div> <!-- .large form -->

          </div> <!-- .segment -->

        </div> <!-- segment -->
      </div> <!-- .column -->
      <div class="sixteen wide tablet ten wide computer black column">
        <!-- we will have a slider here -->
      </div> <!-- .column -->
    </div> <!-- .grid -->
  </div> <!-- #greenwrapper -->
</div> <!-- useraccess -->
