
    <!-- <link rel="stylesheet" type="text/css" href="core/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"> -->

  <div class="login success supplier">

    <div id="greenwrapper">
      <header class="ui padded basic segment">
        <div class="ui secondary menu">
          <div class="left floated">
            <img src="static/img/logo-black.png" width="151" class="ui image" />
          </div>

          <div class="right menu">
            <div class="ui horizontal list company trigger">
              <div class="item">

                <img class="ui mini circular image" src="static/img/user-avatar.png">
                <div class="content">
                  <div class="ui sub header">Bamberg GbmH</div>
                  3 new messages
                </div>

              </div> <!-- .item -->
            </div> <!-- .list -->
          </div> <!-- .menu -->
        </div> <!-- .menu -->
      </header>

      <section class="userlogin">
        <div class="ui container">

          <div class="ui middle aligned center aligned grid screen mid">
            <div class="column">

              <img src="static/img/green-check.png" alt="Check" width="120" />

              <h2>Welcome to Evergreen</h2>
              <p>Now let's tell people what you can build</p>

              <a class="ui evergreen upper green button" href="#!/category-selector">Continue</a>

            </div> <!-- .column -->
          </div> <!-- .screen.mid -->

        </div> <!-- .container -->
      </section> <!-- .userlogin -->

    </div> <!-- #greenwrapper -->


  </div>
