*{
	padding: 0px;
	margin: 0px;
}
@font-face {
    font-family: bringshoot;
    src: url(../fonts/bringshoot.otf);
}
.error {
	color: red;
}

/*GENERAL FONT CSS CLASSES AND STYLES AND ICONS*/
.bringshoot{
	font-family: bringshoot;
}

#froxxi{
	padding-left: 32px;
	width:150px;
	font-size: 55px;
}

#froxxi_link{
	padding-left: 32px;
	width:150px;
	font-size: 55px;
	text-decoration: none;
	color: #d0cece;
}

.glyphicon-search:before{
	content:"\e003"
}

.orange_background{
	background-color: #FF5326;
	border-color: #FF5326;
}
.nav_button{
	width:150px;
}

.navbar{
	position:fixed;
	right:15%;
}

nav a:last-child{
	border-right: none;
}
nav a{
	padding-left: 10px;
	padding-right: 10px;
	border-right: solid black 1px;
	text-decoration: none;
}
/*Background for login and registration pages (testing)*/
body{
	background-color: #4F4F4F;
}
#shoptheworld{
	z-index: -1;
	position: absolute;
}

/*Login Styles*/
#login{
	margin-top: 25%;
	text-align: center;
}
	#login input{
		margin: -1px;
		width: 300px;
	}
	#login #bottom_form{
		/*border-top: none;*/
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	#login #top_form{
		/*border-top: none;*/
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	#login .middle_form{
		border-radius: 0px;
	}
	#login #login_submit{
		margin-top: 20px;
		background-color: #fa560d;
		border: none;
		width: 300px;
	}
	#login a{
		text-decoration: none;
		color: #fa560d;
	}
	#login .white_text{
		color:white;
	}

/*Index page*/
.rounded_corner_img{
	border-radius: 10px;
	width: 30%;
	padding:2px 2px;
}

.image_overlay_button{
	width: 20%;
	z-index: 5;
	position: absolute;
	/*bottom: 1em;*/
	right: 1em;
	background-image: url(/static/images/save_icon.png);
	background-size: contain;
	background-repeat: no-repeat;;
	border: none;
	/*float: left;*/
}

.post{
	display: inline;
	position: relative;
}
/* Add image button css */
.blur{
	filter:blur(10px) grayscale(80%);
}

.upload_image{
	position: absolute;
	z-index: 500;
	left: 40%;
	top: 300px;
}

.hidden{
	display: none;
}

#backFromImageSelectionButton{
	background-color: white;
}

.upload_image label{
	color: white;
}

.search_bar{
	width: 100%;
}
.search_bar:focus{
	outline: none;
}

/*Add html css*/
.center{
	margin: 100px;
	text-align: center;
}
